.browserupgrade {
  margin    : 0.2em 0;
  padding   : 0.2em 0;
  color     : #000;
  background: #ccc;
}

html {
  position  : relative;
  min-height: 100%;
}

body {
  padding-top: 20px;
}
// Everything but the jumbotron gets side spacing for mobile first views

.footer,
.header,
.marketing {
  padding-right: 15px;
  padding-left : 15px;
}
// Custom page header

.header {
  border-bottom: 1px solid #e5e5e5;
  // Make the masthead heading the same height as the navigation
  h3 {
    line-height   : 40px;
    margin-top    : 0;
    margin-bottom : 0;
    padding-bottom: 19px;
  }
}
// Custom page footer

.footer {
  padding-top: 19px;
  color      : #777;
  border-top : 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}
// Main marketing message and sign up button

.jumbotron {
  text-align   : center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding  : 14px 24px;
  }
}

.front .mbr-hero-text,
.title {
  font-size: 52px;
  @media (max-width:$screen-xs-min) {
    font-size: 42px;
  }
}

.float-left {
  float: left;
}

// Supporting marketing content

.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

.btn {
  margin-bottom: 1em;
  white-space  : normal;
  @media (min-width:$screen-sm-max) {
    max-width: 200px;
  }
}

<<<<<<< HEAD
#textinput {
  width: 100%;
}

.form-group-email {
  width        : 300px;
  padding-right: 35px;
}

#how-does-it-work {
  position    : relative;
  padding-left: 15px;
}

#join-a-global-community {
  margin-bottom   :30px;;
  padding   : 0;
  text-align: left;
  border    : 0;
}

#frequently-asked-questions {
  border-bottom: 2px solid #aaa;
}

#finalh h2 {
  // font-family: AvenirNext-MediumItalic;
  font-size: 20px;
  color    : #000;
}

.teco {
  margin-bottom: 30px;
}

.teco h2 {
  font-size  : 16px;
  font-weight: bold;
  margin-top : 30px;
}

#privacy-security,
#submission-guidelines,
#terms-conditions {
  padding-top  : 100px;
  border-bottom: 1px solid #aaa;
}

#introduction,
#overview {
  padding-top: 30px;
}

.contact1 {
  padding-bottom: 30px;
}

.cta {
  padding: 20px 0;
}

#want-to-become-an-enliven-contributor {
  color: #fff;
}

.become-a-contributor h4 {
  margin: 20px 0;
}

.bkg12 {
  width           : 100%;
  padding         : 30px 0;
  background-color: $gray-lighter;
}

.bkg14 {
  width           : 100%;
  padding         : 30px 0;
  background-color: white;
}

#singlebutton {
  width      : 155px;
  margin-top : 45px;
  white-space: normal;
}

.faq ol {
  padding-left: 0;
}

.teco h2 {
  // font-family: AvenirNext-MediumItalic;
  font-size  : 20px;
  font-weight: normal;
  color      : #000;
}

.features {
  padding-bottom: 30px;
  padding-left  : 0;
}

.features2 {
  margin-top: 20px;
  padding-bottom: 30px;
  padding-left  : 0;
}

.features .glyphicon {
  font-size     : 32px;
  display       : block;
  padding-bottom: 20px;
  text-align    : center;
}

.features a {
  font-size      : 14px;
  line-height    : 40px;
  margin-top     : 20px;
  text-align     : center;
  text-decoration: underline;
  color          : grey;
}

.connections {
  padding-top   : 110px;
  padding-bottom: 110px;
}

#below {
  padding-top   : 30px;
  padding-bottom: 30px;
}

.newt {
  border-bottom: 2px solid #aaa;
}

#singlebutton2 {
  width        : 155px;
  margin-top   : 45px;
  margin-bottom: 45px;
  white-space  : normal;
}

#singlebutton3 {
  margin-bottom: 0;
  width        : 100px;
  white-space  : normal;
}

.faq h2 {
  // font-family: AvenirNext-MediumItalic;
  font-size  : 20px;
  line-height: 25px;
  color      : #000;
}
//about enliven

.bkg15 {
  width           : 100%;
  padding         : 33px 0;
  background-color: $gray-lighter;
}

.bkg15 blockquote {
  padding    : 0;
  border-left: 0;
}

.agrey {
  text-decoration: underline;
  color          : grey;
}

.bkg15 h2 {
  font-size : 36px;
  margin-top: 0;
}

.bkg16 {
  width           : 100%;
  padding         : 16px 0 33px;
  background-color: white;
}

.bkg17 {
  width           : 100%;
  padding         : 33px 0;
  background-color: white;
}

#our-mission-is-to-inspire-and-activate-your-life {
  padding-bottom: 50px;
  @media (max-width:$screen-md-min) {
    padding-bottom: 20px;
  }
}
=======
>>>>>>> f2fafaead9e026ac4a77fc1d8db510e90254ae49
// Responsive: Portrait tablets and up
@media screen and (min-width: $screen-sm-min) {
  .container {
    max-width: 730px;
  }
  // Remove the padding we set earlier
  .footer,
  .header,
  .marketing {
    padding-right: 0;
    padding-left : 0;
  }
  // Space out the masthead
  .header {
    margin-bottom: 30px;
  }
  // Remove the bottom border on the jumbotron for visual effect
  .jumbotron {
    border-bottom: 0;
  }
}
