html {
  position  : relative;
  min-height: 100%;
}

body {
  @media (max-width:$screen-xs-max) {
    font-size: 16px;
  }
}

.browserupgrade {
  margin    : 0.2em 0;
  padding   : 0.2em 0;
  color     : #000;
  background: #ccc;
}

blockquote {
  @extend h1;

  padding    : 0 20px;
  margin     : 40px 0;
  text-shadow: none !important;

  p {
    text-shadow: 1px 1px 1px #999;
  }
}

.footer,
.header,
.marketing {
  padding-right: 15px;
  padding-left : 15px;
}
// Custom page header

.header {
  border-bottom: 1px solid #e5e5e5;
  // Make the masthead heading the same height as the navigation
  h3 {
    line-height   : 40px;
    margin-top    : 0;
    margin-bottom : 0;
    padding-bottom: 19px;
  }
}
// Custom page footer

.footer {
  padding-top: 19px;
  color      : #777;
}

.container-narrow > hr {
  margin: 30px 0;
}
// Main marketing message and sign up button

.jumbotron {
  text-align   : center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding  : 14px 24px;
  }
}

.front .mbr-hero-text,
.title {
  font-size: 52px;
  @media (max-width:$screen-xs-min) {
    font-size: 42px;
  }
}

.float-left {
  float: left;
}

// Supporting marketing content

.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

.btn {
  margin-bottom: 1em;
  white-space  : normal;
  @media (min-width:$screen-sm-max) {
    max-width: 200px;
  }
}

.btn.active,
.btn:active {
  box-shadow  : none;
  border-color: lighten($gray-lighter, 20%);
}

.footer .active {
  text-decoration: underline;
}

.flex-slider {
  margin: 0 auto;

  .slides {
    display    : flex;
    align-items: center;
  }
}

.flex-slider-slide {
  display        : inline-block;
  list-style-type: none;
  position       : relative;

  .slide-bg {
    text-align: center;
    padding   : 20px;
  }

  .row {
    @media screen and (min-width: $screen-xs-min) {
      display    : flex;
      align-items: center;
    }

    .slide-text {
      max-width: 34em;
      padding  : 0 40px 20px;
      @media screen and (min-width: $screen-sm-min) {
        padding-top: 10px;
      }
    }
  }
  @media screen and (min-width: $screen-xs-min) {
    .col-sm-6 {
      &.slide-bg {
        padding-left: 50px;
        text-align  : center;
      }

      &.slide-text {
        padding-right: 50px;
        text-align   : left;
      }
    }

  }

  &.slide-1 {
    .slide-bg {
      margin: -40px 0 40px;
      @media screen and (min-width: $screen-xs-min) {
        margin-top: 50px;
      }
    }

    .slide-text {
      @media screen and (min-width: $screen-xs-min) {
        position: absolute;
        width   : 100%;

        &.p1 {
          top: 20px;
        }

        &.p2 {
          bottom: 8px;
          @media screen and (min-width: $screen-sm-min) {
            bottom: -25px;
          }
        }

        h4 {
          color      : #fff;
          font-size  : 24px;
          margin     : 0 auto;
          max-width  : 22em;
          text-shadow: 1px 1px 1px #666;
        }
      }
      @media screen and (min-width: $screen-sm-min) {
        &.p2 {
          bottom: 30px;
        }
      }
    }
  }

  &.slide-6 {
    @media screen and (min-width: $screen-xs-min) {
      align-items: center;
      display    : flex !important;
    }

    .row {
      margin: 0 auto;
      // @media screen and (min-width: $screen-sm-min) {
      //   margin: 50px auto;
      // }
    }

    .slide-text {
      padding-top: 0 !important;
      max-width  : 100%;
    }

    .slide.slide-6 {
      max-width: 300px;
    }
  }

  h3 {
    font-size: 20px;
    @media screen and (min-width: $screen-sm-min) {
      font-size: 28px;
      // max-width: 20em;
      // margin   : 0 auto;
    }
  }

  blockquote {
    @extend .mbr-header-text;
    margin: 0;

    small {
      font-size: 20px;
    }
  }

  .slide {
    max-height: 34vh;
    width     : auto;
    max-width : 100%;
    height    : auto;
    @media screen and (min-width: $screen-xs-min) and (max-width: $screen-xs-max) {
      height    : auto;
      max-height: auto;
      max-width : 100%;
    }
  }
}

.front .flex-slider-slide {
  blockquote {
    color: #fff !important;
  }
}

.become-a-contributor {
  .slide-1 {
    text-align: center;
  }
}

.flex-control-nav.flex-control-paging {
  bottom: auto;
  left  : auto;
  right : 0;
  top   : 10px;
  width : auto;
  @media screen and (min-width: $screen-xs-min) {
    bottom: 33%;
    top   : auto;
  }

  li {
    display: block;
    margin : 10px;
  }
}

.flex-active {
  background-color: #ffd700 !important;
}

// Responsive: Portrait tablets and up
@media screen and (min-width: $screen-xs-min) {
  .container {
    max-width: 730px;
  }
  // Remove the padding we set earlier
  .footer,
  .header,
  .marketing {
    padding-right: 0;
    padding-left : 0;
  }
  // Space out the masthead
  .header {
    margin-bottom: 30px;
  }
  // Remove the bottom border on the jumbotron for visual effect
  .jumbotron {
    border-bottom: 0;
  }
}
