$hamburger-color: $gray-darker;

.is-builder .animated {
  -webkit-animation-name: none !important;
  animation-name        : none !important;
}

.mbr-embedded-video {
  position: relative;
}

.mbr-background-video,
.mbr-background-video-preview {
  position: absolute;
  top     : 0;
  right   : 0;
  bottom  : 0;
  left    : 0;
  overflow: hidden;
}

.mbr-background,
.mbr-parallax-background {
  background-repeat    : no-repeat;
  background-attachment: fixed !important;
  background-position  : 50% 0;
  background-size      : cover !important;
}

.mbr-hidden-scrollbar .mbr-parallax-background {
  background-size: auto 130%;
}

.mobile .mbr-parallax-background {
  background-attachment: scroll !important;
}

.mbr-background {
  background-attachment: scroll !important;
}

.mbr-navbar {
  position: relative;
  width   : 100%;

  &:before {
    display: block;
    content: '';
  }

  .mbr-brand-name {
    font-size: 16px;
  }

  .mbr-navbar-section {
    box-sizing: border-box;
  }

  .mbr-navbar-hamburger {
    color: $hamburger-color;
  }
}

.navbar-header {
  float: none;
}

.mbr-navbar {
  .navbar {
    background-color: rgba(255,255,255,0.95);
  }
}

.front .mbr-navbar {
  .navbar {
    background-color: rgba(255,255,255,0);
  }

  // &.top {
  //   .text-black {
  //     color      : $black-forest !important;
  //     text-shadow: 0 0 1px #eee;
  //   }
  // }

  &.going-down {
    .navbar {
      background-color: rgba(255,255,255,0.95);
    }
  }
}

// navbar height
.mbr-navbar-brand-img,
.mbr-navbar-brand-link:after {
  max-height: 32px;
  @media screen and (max-width:$screen-xs-max) {
    max-height: 20px;
  }
}

// .mbr-navbar-container,
// .mbr-navbar:before {
//   height: 98px;
// }

// short navbar

.mbr-navbar-short {
  .mbr-navbar-brand-img,
  .mbr-navbar-brand-link:after {
    height: 20px;
  }

  &:before,
  .mbr-navbar-container {
    height: 64px;
  }

  .mbr-navbar-container {
    padding: 0;
  }
  @media (max-width:$screen-xs-max) {
    .mbr-navbar-brand-img,
    .mbr-navbar-brand-link:after {
      height: 20px;
    }

    &:before,
    .mbr-navbar-container {
      height: 45px;
    }

    .mbr-navbar-container {
      padding: 7px 0;
    }
  }
}

.mbr-navbar-brand-img {
  height  : 100%;
  position: relative;
}

.mbr-navbar-brand-img,
.mbr-navbar-container,
.mbr-navbar-section {
  transition: all 300ms ease-in-out 0s;
}

.mbr-navbar-section {
  position: absolute;
  z-index : 1000;
  top     : 0;
  width   : 100%;
  height  : auto;
}

.mbr-navbar-container {
  display  : table;
  min-width: 250px;
  width    : 100%;
  padding  : 12px 0;
}

.mbr-navbar-menu-box {
  display: table;
  width  : 100%;
}

.mbr-navbar-menu-box-inline-center,
.mbr-navbar-menu-box-inline-left,
.mbr-navbar-menu-box-inline-right {
  display   : block;
  text-align: left;
}

.mbr-navbar-menu-box-inline-center {
  text-align: center;
}

.mbr-navbar-menu-box-inline-right {
  text-align: right;
}

.mbr-navbar-column {
  display       : table-cell;
  vertical-align: middle;
}

.mbr-navbar-column-xxs {
  width: 1%;
}

.mbr-navbar-column-xs {
  width: 10%;
}

.mbr-navbar-column-s {
  width: 20%;
}

.mbr-navbar-column-m {
  width: 30%;
}

.mbr-navbar-column-l {
  width: 40%;
}

.mbr-navbar-column-xl {
  width: 50%;
}

.mbr-navbar-menu-box-inline-center .mbr-navbar-column,
.mbr-navbar-menu-box-inline-left .mbr-navbar-column,
.mbr-navbar-menu-box-inline-right .mbr-navbar-column {
  display: inline-block;
}

.mbr-navbar-items {
  position    : relative;
  left        : -20px;
  float       : left;
  padding-left: 0;
}

.mbr-navbar-items-right {
  left : 0;
  float: right;
}

.mbr-navbar-item {
  position: relative;
  display : block;
  float   : left;
}

.mbr-navbar-hamburger {
  position  : absolute;
  z-index   : 10000;
  top       : 50%;
  right     : 10px;
  display   : none;
  margin-top: -12px;
}

.mbr-navbar-collapsed .mbr-navbar-container {
  position: relative;
}

.mbr-navbar-collapsed .mbr-navbar-column {
  display: block;
  width  : 100%;
}

.mbr-navbar-collapsed .mbr-navbar-items-right {
  padding-top: 13px;
}

.mbr-navbar-collapsed .mbr-navbar-menu {
  position  : fixed;
  z-index   : 9999;
  top       : 0;
  left      : 0;
  display   : none;
  width     : 100%;
  height    : 100%;
  background: rgba(0,0,0,.9);
}

.mbr-navbar-collapsed .mbr-navbar-menu-box {
  display       : table-cell;
  vertical-align: middle;
}

.mbr-navbar-collapsed .mbr-navbar-items {
  float: none;
}

.mbr-navbar-collapsed .mbr-navbar-item {
  float: none;
}

.mbr-navbar-collapsed .mbr-navbar-hamburger {
  display: block;
}

.mbr-navbar-open {
  .mbr-navbar-items {
    float: none !important;
  }

  .mbr-buttons-right {
    .mbr-buttons-btn,
    .mbr-buttons-link {
      text-align: center;
    }
  }
}

.mbr-navbar-collapsed.mbr-navbar-open .mbr-navbar-menu {
  display: table;
}

.mbr-navbar-collapsed.mbr-navbar-open:not(.mbr-navbar-sticky) .mbr-navbar-section {
  position  : fixed;
  background: none;
}

.mbr-navbar-collapsed.mbr-navbar-open .mbr-navbar-brand {
  visibility: hidden;
}

.mbr-navbar-collapsed.mbr-navbar-sticky.mbr-navbar-open .mbr-navbar-brand {
  visibility: visible;
}

.mbr-navbar-collapsed.mbr-navbar-open .mbr-navbar-brand-img,
.mbr-navbar-collapsed.mbr-navbar-open .mbr-navbar-container {
  transition: none;
}

.mbr-navbar-freeze.mbr-navbar-collapsed.mbr-navbar-open .mbr-navbar-hamburger,
.mbr-navbar-freeze.mbr-navbar-collapsed.mbr-navbar-open .mbr-navbar-hamburger:hover {
  color: #fff !important;
}

.mbr-navbar-sticky .mbr-navbar-section {
  position: fixed;
}

.mbr-navbar-absolute {
  position: absolute;
  top     : 0;
}
// fix for popup menu conflict
@media (max-width:$screen-xs-min) {
  .mbr-navbar-absolute.mbr-navbar[id^=menu-] {
    position: absolute;
  }
}

.mbr-navbar-transparent .mbr-navbar-section {
  background: none;
}
@media (max-width:$screen-sm-max) {
  .mbr-navbar-auto-collapse .mbr-navbar-container {
    position: relative;
  }

  .mbr-navbar-auto-collapse .mbr-navbar-column {
    display: block;
    width  : 100%;
  }

  .mbr-navbar-column {
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 100vh;
  }

  .mbr-navbar-column::-webkit-scrollbar {
    display: none;
  }

  .mbr-navbar-auto-collapse .mbr-navbar-items-right {
    padding-top: 13px;
  }

  .mbr-navbar-auto-collapse .mbr-navbar-menu {
    position  : fixed;
    z-index   : 9999;
    top       : 0;
    left      : 0;
    display   : none;
    width     : 100%;
    height    : 100%;
    background: rgba(0,0,0,.9);
  }

  .mbr-navbar-auto-collapse .mbr-navbar-menu-box {
    display       : table-cell;
    vertical-align: middle;
  }

  .mbr-navbar-auto-collapse .mbr-navbar-items {
    float: none;
  }

  .mbr-navbar-auto-collapse .mbr-navbar-item {
    float: none;
  }

  .mbr-navbar-auto-collapse .mbr-navbar-hamburger {
    display: block;
  }

  .mbr-navbar-auto-collapse.mbr-navbar-open .mbr-navbar-menu {
    display: table;
  }

  .mbr-navbar-auto-collapse.mbr-navbar-open:not(.mbr-navbar-sticky) .mbr-navbar-section {
    position  : fixed;
    background: none;
  }

  .mbr-navbar-auto-collapse.mbr-navbar-open .mbr-navbar-brand {
    visibility: hidden;
  }

  .mbr-navbar-auto-collapse.mbr-navbar-sticky.mbr-navbar-open .mbr-navbar-brand {
    visibility: visible;
  }

  .mbr-navbar-auto-collapse.mbr-navbar-open .mbr-navbar-brand-img,
  .mbr-navbar-auto-collapse.mbr-navbar-open .mbr-navbar-container {
    transition: none;
  }
}

.mbr-after-navbar:before {
  display: block;
  height : 98px;
  content: '';
}

.mbr-hamburger {
  width : 20px;
  height: 23px;
  cursor: pointer;
}

.mbr-hamburger:focus {
  outline: none;
}

.mbr-hamburger-line,
.mbr-hamburger-line:after,
.mbr-hamburger-line:before {
  border-bottom: 2px solid;
  content      : '';
  cursor       : pointer;
  display      : block;
  height       : 1px;
  position     : absolute;
  top          : 9px;
  transition   : all 300ms ease-in-out;
  width        : 30px;
}

.mbr-hamburger-line:before {
  top: -5px;
}

.mbr-hamburger-line:after {
  top: 5px;
}

.mbr-hamburger-open .mbr-hamburger-line {
  border-color: transparent;
}

.mbr-hamburger-open .mbr-hamburger-line:after,
.mbr-hamburger-open .mbr-hamburger-line:before {
  top: 0;
}

.mbr-hamburger-open .mbr-hamburger-line:before {
  -webkit-transform: rotate(45deg);
  -ms-transform    : rotate(45deg);
  transform        : rotate(45deg);
}

.mbr-hamburger-open .mbr-hamburger-line:after {
  top              : 10px;
  -webkit-transform: translatey(-10px) rotate(-45deg);
  -ms-transform    : translatey(-10px) rotate(-45deg);
  transform        : translatey(-10px) rotate(-45deg);
}
@media (max-width:$screen-xs-max) {
  .mbr-hamburger {
    width : 20px;
    height: 23px;
  }

  .mbr-hamburger-line,
  .mbr-hamburger-line:after,
  .mbr-hamburger-line:before {
    top  : 10px;
    width: 27px;
  }

  .mbr-hamburger-line:before {
    top: -5px;
  }

  .mbr-hamburger-line:after {
    top: 5px;
  }
}

.mbr-brand {
  position: relative;
  display : block;
  float   : left;
}

.mbr-brand,
.mbr-brand:hover {
  text-decoration: none;
}

.mbr-brand-name {
  display   : block;
  margin-top: 5px;
  text-align: center;
}

.mbr-brand-name,
.mbr-brand-name:hover {
  text-decoration: none;
}

.mbr-brand-inline {
  display: table;
}

.mbr-brand-inline:after {
  display: table-cell;
  width  : 1px;
  content: '';
}

.mbr-brand-inline .mbr-brand-logo,
.mbr-brand-inline .mbr-brand-name {
  display       : table-cell;
  vertical-align: middle;
}

.mbr-brand-inline .mbr-brand-logo {
  padding-right: 10px;
}

.mbr-brand-inline .mbr-brand-name {
  margin    : 0;
  text-align: left;
}

.mbr-form {
  position  : relative;
  top       : 14px;
  display   : table;
  width     : 100%;
  margin-top: -13px;
}

.mbr-form-left,
.mbr-form-right {
  display       : table-cell;
  vertical-align: top;
}

.mbr-form-left {
  padding-right: 3px;
}

.mbr-form-right {
  width: 1px;
}
@media (max-width:530px) {
  .mbr-form {
    position  : relative;
    top       : 26px;
    display   : block;
    margin-top: -27px;
  }

  .mbr-form-left,
  .mbr-form-right {
    display: block;
  }

  .mbr-form-left {
    margin-bottom: 12px;
    padding-right: 0;
  }

  .mbr-form-right {
    width: 100%;
  }
}

.mbr-section {
  padding: 0 20px;
}

#section1 .mbr-section {
  padding: 0;
}

.mbr-section-no-padding {
  padding: 0;
}

.mbr-section-relative {
  position: relative;
}

.mbr-section-fixed-size {
  overflow: hidden;
}

.mbr-section-full-height {
  height: 100vh;
}

.mbr-section-full-height.mbr-after-navbar:before {
  display: none;
}

.mbr-section-bg-adapted {
  background-repeat    : no-repeat;
  background-attachment: scroll;
  background-position  : 50% 0;
  background-size      : cover;
}

.mbr-section-gray {
  background-color: #444;
}

.mbr-section-light-gray {
  background-color: #f0f0f0;
}

.mbr-section-dark-gray {
  background-color: #3c3c3c;
}

.mbr-section-container {
  position: relative;
  z-index : 3;
}

.mbr-navbar-section .mbr-section-container {
  padding-left: 0;
}

.mbr-section-container-center {
  text-align: center;
}

.mbr-section-container-std-padding {
  padding: 93px 0;
}

.mbr-section-container-std-top-padding {
  padding-top: 93px;
}

.mbr-section-container-std-bot-padding {
  padding-bottom: 93px;
}

.mbr-section-container-sm-padding {
  padding: 41px 0;
}

.mbr-section-container-sm-top-padding {
  padding-top: 41px;
}

.mbr-section-container-sm-bot-padding {
  padding-bottom: 41px;
}

.mbr-section-container-isolated {
  padding-top   : 93px;
  padding-bottom: 93px;
}

.mbr-section-container-first {
  padding-top   : 93px;
  padding-bottom: 41px;
}

.mbr-section-container-middle {
  padding-bottom: 41px;
}

.mbr-section-container-last {
  padding-bottom: 93px;
}

.mbr-section-row {
  margin-right: -24px;
  margin-left : -24px;
}

.mbr-section-col {
  overflow     : hidden;
  padding-right: 24px;
  padding-left : 24px;
}

.mbr-section-left {}

.mbr-section-right {
  padding-left: 15px;
}

.mbr-section-header {
  line-height: 1.5em;
  margin     : -10px 0 0;
  text-align : center;
}
@media (min-width:$screen-sm-min) {
  .mbr-section-short-paddings {
    .mbr-section-container-std-padding {
      padding: 59px 0;
    }

    .mbr-section-container-std-top-padding {
      padding-top: 59px;
    }

    .mbr-section-container-std-bot-padding {
      padding-bottom: 59px;
    }

    .mbr-section-container-sm-padding {
      padding: 41px 0;
    }

    .mbr-section-container-sm-top-padding {
      padding-top: 41px;
    }

    .mbr-section-container-sm-bot-padding {
      padding-bottom: 41px;
    }

    .mbr-section-container-isolated {
      padding-top   : 59px;
      padding-bottom: 59px;
    }

    .mbr-section-container-first {
      padding-top   : 59px;
      padding-bottom: 41px;
    }

    .mbr-section-container-middle {
      padding-bottom: 41px;
    }

    .mbr-section-container-last {
      padding-bottom: 59px;
    }
  }
}
@media (max-width:$screen-xs-max) {
  .mbr-section-left {
    padding-right: 15px;
  }

  .mbr-section-right {
    padding-top : 51px;
    padding-left: 15px;
  }
}

.mbr-arrow {
  line-height: 1px;
  position   : absolute;
  z-index    : 3;
  bottom     : 71px;
  left       : 0;
  width      : 100%;
  padding    : 0 20px;
}

.mbr-arrow-link {
  font-size: 26px;
  display  : inline-block;
}

.mbr-arrow-link,
.mbr-arrow-link:focus,
.mbr-arrow-link:hover {
  color: #fff;
}

.mbr-arrow-floating .mbr-arrow-link {
  -webkit-animation: floating-arrow 1.6s infinite ease-in-out 0s;
  -o-animation     : floating-arrow 1.6s infinite ease-in-out 0s;
  animation        : floating-arrow 1.6s infinite ease-in-out 0s;
}
@-webkit-keyframes floating-arrow {
  from {
    -webkit-transform: translateY(0);
    transform        : translateY(0);
  }

  65% {
    -webkit-transform: translateY(11px);
    transform        : translateY(11px);
  }

  to {
    -webkit-transform: translateY(0);
    transform        : translateY(0);
  }
}
@-o-keyframes floating-arrow {
  from {
    -webkit-transform: translateY(0);
    transform        : translateY(0);
  }

  65% {
    -webkit-transform: translateY(11px);
    transform        : translateY(11px);
  }

  to {
    -webkit-transform: translateY(0);
    transform        : translateY(0);
  }
}
@keyframes floating-arrow {
  from {
    -webkit-transform: translateY(0);
    transform        : translateY(0);
  }

  65% {
    -webkit-transform: translateY(11px);
    transform        : translateY(11px);
  }

  to {
    -webkit-transform: translateY(0);
    transform        : translateY(0);
  }
}

.mbr-arrow-dark .mbr-arrow-link,
.mbr-arrow-dark .mbr-arrow-link:focus,
.mbr-arrow-dark .mbr-arrow-link:hover {
  color: #252525;
}
@media (max-width:$screen-xs-max) {
  .mbr-arrow {
    bottom: 41px;
  }
}
@media (max-width:320px) {
  .mbr-arrow {
    bottom    : 21px;
    text-align: center;
  }
}
@media all and (device-width:320px) and (device-height:568px) and (orientation:portrait) {
  .mbr-arrow {
    bottom: 31px;
  }
}

.mbr-box {
  display: table;
  width  : 100%;
}

.mbr-box-fixed {
  table-layout: fixed;
}

.mbr-box-stretched {
  height: 100%;
}

.mbr-box-magnet {
  display       : table-cell;
  float         : none;
  height        : 100%;
  margin-top    : 0;
  margin-bottom : 0;
  text-align    : center;
  vertical-align: middle;
}

.mbr-box-magnet-sm-padding {
  padding: 41px 0;
}

.mbr-box-magnet-top-center,
.mbr-box-magnet-top-left,
.mbr-box-magnet-top-right {
  vertical-align: top;
}

.mbr-box-magnet-bottom-center,
.mbr-box-magnet-bottom-left,
.mbr-box-magnet-bottom-right {
  vertical-align: bottom;
}

.mbr-box-magnet-bottom-left,
.mbr-box-magnet-center-left,
.mbr-box-magnet-top-left {
  text-align: left;
}

.mbr-box-magnet-bottom-right,
.mbr-box-magnet-center-right,
.mbr-box-magnet-top-right {
  text-align: right;
}

.mbr-box-container {
  height: 50%;
}
@media (max-width:$screen-xs-max) {
  .mbr-box-container {
    height: 100%;
  }

  .mbr-box-adapted {
    display: block;
  }

  .mbr-box-adapted > .mbr-box-magnet {
    display: block;
    height : auto;
  }
}

.mbr-overlay {
  position  : absolute;
  z-index   : 2;
  top       : 0;
  right     : 0;
  bottom    : 0;
  left      : 0;
  background: #222;
}

.mbr-google-map-marker {
  display: none;
  margin : 0;
  color  : #252525;
}

.mbr-google-map-loaded .mbr-google-map-marker {
  display: block;
}

.mbr-hero {
  position: relative;
  color   : #fff;
}

.mbr-hero-text {
  color         : #000;
  font-size     : 54px;
  line-height   : 120%;
  margin        : 20px auto;
  // max-width     : 400px;
  padding-bottom: 41px;
  text-shadow   : 0 0 1px #eee;
}

.mbr-hero-subtext {
  font-size  : 21px;
  line-height: 29px;
  position   : relative;
  top        : 6px;
  margin     : -32px 0 3px;
  padding    : 0 0 41px;
}

.mbr-figure {
  line-height: 1px;
  position   : relative;
  display    : inline-block;
  overflow   : hidden;
  max-width  : 100%;
  margin     : 0;
}

.mbr-figure-no-bg {
  background: none;
}

.mbr-figure-full-width {
  display: block;
  width  : 100%;
}

.mbr-figure.mbr-after-navbar:before {
  display: none;
}

.mbr-figure-full-width .mbr-figure-img,
.mbr-figure-full-width .mbr-figure-map,
.mbr-figure-full-width iframe {
  width: 100%;
}

.mbr-figure iframe,
.mbr-figure-img,
.mbr-figure-map {
  max-width: 100%;
}

.mbr-figure-map {
  line-height: 1.3em;
  height     : 400px;
}

.mbr-figure-map-short {
  height: 300px;
}

.mbr-figure-caption {
  font-size  : 17px;
  line-height: 1.3em;
  position   : absolute;
  bottom     : 0;
  left       : 0;
  display    : block;
  width      : 100%;
  min-height : 53px;
  padding    : 17px 20px;
  text-align : left;
  color      : #fff;
  background : rgba(0,0,0,.5);
}

.mbr-figure-caption-no-padding {
  padding: 17px 0;
}

.mbr-figure-wysiwyg .mbr-figure-caption a,
.mbr-figure-wysiwyg .mbr-figure-caption a:hover {
  text-decoration: underline;
  color          : inherit;
}

.mbr-figure-caption-inside-top .mbr-figure-caption {
  top   : 0;
  bottom: auto;
}

.mbr-figure-caption-outside-bottom .mbr-figure-caption,
.mbr-figure-caption-outside-top .mbr-figure-caption {
  position  : relative;
  background: none;
}

.mbr-figure-no-bg.mbr-figure-caption-outside-bottom .mbr-figure-caption,
.mbr-figure-no-bg.mbr-figure-caption-outside-top .mbr-figure-caption {
  color: #252525;
}

.mbr-figure-no-bg.mbr-figure-caption-outside-top .mbr-figure-caption {
  margin-top : -3px;
  padding-top: 0;
}

.mbr-figure-no-bg.mbr-figure-caption-outside-bottom .mbr-figure-caption {
  top           : 2px;
  margin-top    : -2px;
  padding-bottom: 0;
}

.mbr-figure-caption-std-grid {
  z-index   : 2;
  background: none;
}
@media (min-width:$screen-sm-min) {
  .mbr-figure-caption-std-grid {
    left       : 50%;
    width      : 715px;
    margin-left: -357.5px;
    padding    : 17px 0;
  }
}
@media (min-width:$screen-md-min) {
  .mbr-figure-caption-std-grid {
    width      : 935px;
    margin-left: -467.5px;
  }
}
@media (min-width:1200px) {
  .mbr-figure-caption-std-grid {
    width      : 1150px;
    margin-left: -575px;
  }
}

.mbr-figure-caption-std-grid:before {
  position   : absolute;
  z-index    : -1;
  top        : 0;
  bottom     : 0;
  width      : 200%;
  margin-left: -50%;
  content    : '';
}

.mbr-figure-caption-inside-bottom .mbr-figure-caption-std-grid:before,
.mbr-figure-caption-inside-top .mbr-figure-caption-std-grid:before {
  background: rgba(0,0,0,.6);
}

.mbr-figure-caption-small {
  font-size  : 14px;
  line-height: 1.3em;
  display    : block;
  color      : #ccc;
}

.mbr-figure-no-bg.mbr-figure-caption-outside-bottom .mbr-figure-caption-small,
.mbr-figure-no-bg.mbr-figure-caption-outside-top .mbr-figure-caption-small {
  color: #777;
}
@media (max-width:$screen-xs-max) {
  .mbr-figure-adapted {
    display: block;
    width  : 100%;
  }

  .mbr-figure-adapted .mbr-figure-img,
  .mbr-figure-adapted .mbr-figure-map,
  .mbr-figure-adapted iframe {
    width: 100%;
  }

  .mbr-figure-caption-inside-bottom .mbr-figure-caption,
  .mbr-figure-caption-inside-top .mbr-figure-caption {
    position  : relative;
    background: none;
  }

  .mbr-figure-caption-inside-bottom .mbr-figure-caption-std-grid:before,
  .mbr-figure-caption-inside-top .mbr-figure-caption-std-grid:before {
    display: none;
  }
}

.mbr-reviews {
  margin    : 0 -15px;
  padding   : 3px 0 0;
  list-style: none;
}

.mbr-reviews-item {
  position  : relative;
  margin-top: 39px;
}

.mbr-reviews-text {
  font-size    : 16px;
  line-height  : 26px;
  position     : relative;
  padding      : 20px;
  color        : #777;
  border       : 1px solid #ededed;
  border-radius: 3px;
  background   : #fafafa;
}

.mbr-reviews-text:before {
  position         : absolute;
  bottom           : -8px;
  left             : 50px;
  display          : block;
  width            : 14px;
  height           : 14px;
  content          : '';
  -webkit-transform: rotate(45deg);
  -ms-transform    : rotate(45deg);
  -o-transform     : rotate(45deg);
  transform        : rotate(45deg);
  border-width     : 0 1px 1px 0;
  border-style     : none solid solid none;
  border-color     : #ededed;
  background-color : #fafafa;
}

.mbr-reviews-p {
  margin: 0;
}

.mbr-reviews-author {
  position    : relative;
  margin-top  : 30px;
  padding-left: 102px;
}

.mbr-reviews-author-short {
  margin-top  : 27px;
  padding-left: 32px;
}

.mbr-reviews-author-img {
  position     : absolute;
  top          : 0;
  left         : 33px;
  width        : 50px;
  height       : 50px;
  border-radius: 50%;
}

.mbr-reviews-author-name {
  font-size: 14px;
  position : relative;
  top      : -3px;
  color    : #777;
}

.mbr-reviews-author-bio {
  font-size: 12px;
  color    : #999;
}
@media (max-width:$screen-xs-max) {
  .mbr-reviews-author {
    padding-bottom: 32px;
  }

  .mbr-reviews-author-short {
    padding-bottom: 1px;
  }
}
@media (min-width:$screen-sm-min) and (max-width:$screen-sm-max) {
  .mbr-reviews-item:nth-of-type(2n+1) {
    clear: left;
  }
}
@media (min-width:$screen-md-min) {
  .mbr-reviews-item:nth-of-type(3n+1) {
    clear: left;
  }
}
@media (max-width:$screen-sm-max) {
  .mbr-header-reduce .mbr-header-text {
    margin-top : -1em;
    padding-top: 1em;
  }
}

.mbr-header {
  position  : relative;
  top       : 10px;
  margin-top: -20px;
  padding   : 0;
  text-align: left;
}

.mbr-header-std-padding {
  padding-bottom: 41px;
}

.mbr-header-center {
  text-align: center;
}

.mbr-header-text {
  font-size: 48px;
  display  : block;
  margin   : 0;
  color    : #000;
}

.mbr-header-subtext {
  font-size : 14px;
  font-style: italic;
  margin    : 8px 0 7px;
  color     : #777;
}

.mbr-header-inline {
  top       : 0;
  margin-top: 0;
  padding   : 41px 0 28px;
}

.mbr-header-inline .mbr-header-text {
  line-height: 1em;
  margin     : 15px 0 0;
}
@media (max-width:$screen-xs-max) {
  .mbr-header-inline {
    padding: 47px 0 38px;
  }

  .mbr-header-inline .mbr-header-text {
    display: block;
    margin : 0 0 38px;
  }

  .mbr-header-auto-align .mbr-header-subtext,
  .mbr-header-auto-align .mbr-header-text {
    left      : 0;
    text-align: center !important;
  }
}
@media (min-width:$screen-sm-min) {
  .mbr-header-reduce {
    top       : 2px;
    margin-top: -5px;
  }

  .mbr-header-reduce .mbr-header-text {
    font-size  : 16px;
    line-height: 1.1em;
    margin-top : -.4em;
    padding-top: 0.4em;
  }
}

.mbr-social-icons-icon {
  font-size  : 29px;
  line-height: 61px;
  position   : relative;
  display    : inline-block;
  width      : 56px;
  height     : 56px;
  margin     : 0 10px 13px 0;
  cursor     : pointer;
  transition : all 0.2s ease-in-out 0s;
  text-align : center;
  color      : #fff;
}

.mbr-social-icons-icon:hover {
  color: #fff;
}

.mbr-social-icons-style-1 .mbr-social-icons-icon:hover {
  background: #252525 !important;
}

.mbr-contacts {
  font-size: 14px;
  color    : #9c9c9c;
}

.mbr-contacts-img {
  max-width: 100%;
}

.mbr-contacts-img-left {
  margin-left: 0;
}

.mbr-contacts-text {
  margin: 0;
}

.mbr-contacts-header {
  font-size    : 14px;
  margin-top   : 3px;
  margin-bottom: 20px;
  color        : #fff;
}

.mbr-contacts-list {
  margin    : 0;
  padding   : 0;
  list-style: none;
}
@media (max-width:$screen-xs-max) {
  .mbr-contacts-img {
    margin-bottom: 10px;
  }

  .mbr-contacts-header {
    margin-top   : 20px;
    margin-bottom: 10px;
  }

  .mbr-contacts-column {
    margin-top: 37px;
  }
}

.mbr-footer {
  font-size   : 13px;
  line-height : 1em;
  padding     : 20px 0;
  word-spacing: 1px;
  color       : #9c9c9c;

  a {
    color: #fff;
  }
}

.mbr-footer-copyright {
  margin    : 0;
  text-align: center;
}

.mbr-buttons {
  position  : relative;
  margin    : 0;
  text-align: left;
}

.mbr-buttons-btn,
.mbr-buttons-link {
  margin: 0;
}

.mbr-buttons-btn,
.mbr-buttons-btn:hover,
.mbr-buttons-link,
.mbr-buttons-link:hover {
  text-decoration: none;
}

.mbr-buttons-top {
  top       : 44px;
  margin-top: -62px;
}

.mbr-buttons-no-offset {
  top       : 0;
  margin-top: 0;
}

.mbr-buttons-only-links {
  left: -20px;
}

.mbr-buttons-center {
  left      : 5px;
  text-align: center;
}

.mbr-buttons-center.mbr-buttons-only-links {
  left: 0;
}

.mbr-buttons-right {
  text-align: right;
}

.mbr-buttons-right .mbr-buttons-btn,
.mbr-buttons-right .mbr-buttons-link {
  font-size  : 18px;
  margin     : 0;
  color      : #000;
  text-align : left;
  white-space: normal;
  @media (min-width:$screen-sm-max) {
    max-width: 116px;
  }
}

.mbr-buttons-right.mbr-buttons-only-links {
  left: 20px;
}

.mbr-buttons-activated {
  left      : 5px;
  text-align: center;
}

.mbr-buttons-activated .mbr-buttons-btn,
.mbr-buttons-activated .mbr-buttons-link {
  margin-right: 0;
  margin-left : 0;
}

.mbr-buttons-activated .mbr-buttons-link {
  font-size: 25px;
  padding  : 10px 30px 2px;
}

.mbr-buttons-activated .mbr-buttons-btn {
  font-size : 15px;
  margin-top: 9px;
  padding   : 15px 30px;
}

.mbr-buttons-freeze.mbr-buttons-activated .mbr-buttons-link {
  font-size: 25px !important;
}

.mbr-buttons-freeze.mbr-buttons-activated .mbr-buttons-link,
.mbr-buttons-freeze.mbr-buttons-activated .mbr-buttons-link:hover {
  color: #fff !important;
}

.mbr-buttons-freeze.mbr-buttons-activated .mbr-buttons-btn {
  font-size: 15px !important;
}
@media (max-width:$screen-sm-max) {
  .mbr-buttons {
    top: 0;
  }

  .mbr-buttons:first-child {
    margin-top: 0;
  }

  .mbr-buttons-active {
    left      : 5px;
    text-align: center;
  }

  .mbr-buttons-active .mbr-buttons-btn,
  .mbr-buttons-active .mbr-buttons-link {
    margin-right: 0;
    margin-left : 0;
  }

  .mbr-buttons-right.mbr-buttons-only-links {
    left: 0;
  }

  .mbr-buttons-active .mbr-buttons-link {
    font-size: 25px;
    padding  : 10px 30px 2px;
  }

  .mbr-buttons-active .mbr-buttons-btn {
    font-size : 15px;
    margin-top: 9px;
    padding   : 15px 30px;
  }

  .mbr-buttons-freeze.mbr-buttons-active .mbr-buttons-link {
    font-size: 25px !important;
  }

  .mbr-buttons-freeze.mbr-buttons-active .mbr-buttons-link,
  .mbr-buttons-freeze.mbr-buttons-active .mbr-buttons-link:hover {
    color: #fff !important;
  }

  .mbr-buttons-freeze.mbr-buttons-active .mbr-buttons-btn {
    font-size: 15px !important;
  }
}
@media (max-width:$screen-xs-max) {
  .mbr-buttons-auto-align {
    top       : 26px;
    left      : 5px;
    margin-top: -26px;
    text-align: center;
  }

  .mbr-buttons-auto-align.mbr-buttons-only-links {
    left: 0;
  }
}
@media (max-width:530px) {
  .mbr-buttons {
    left: 0;
  }

  .mbr-buttons-btn,
  .mbr-buttons-link,
  .mbr-buttons-right .mbr-buttons-btn,
  .mbr-buttons-right .mbr-buttons-link {
    display   : inline-block;
    width     : 100%;
    margin    : 0 0 13px;
    text-align: center;
  }

  .mbr-buttons-activated .mbr-buttons-btn,
  .mbr-buttons-activated .mbr-buttons-link,
  .mbr-buttons-active .mbr-buttons-btn,
  .mbr-buttons-active .mbr-buttons-link {
    width: auto;
  }

  .mbr-buttons-activated .mbr-buttons-btn,
  .mbr-buttons-active .mbr-buttons-btn {
    margin-top: 9px;
  }
}

.mbr-article {
  font-size  : 17px;
  line-height: 27px;
  position   : relative;
  top        : 14px;
  margin-top : -21px;
  text-align : left;
  color      : #777;
}
@media (max-width:$screen-xs-max) {
  .mbr-article-auto-align {
    text-align: left !important;
  }
}

.social-likes-counter {
  font-size    : 12px;
  line-height  : 24px;
  position     : absolute;
  top          : -7px;
  right        : -7px;
  min-width    : 23px;
  height       : 23px;
  padding      : 0 5px;
  transition   : all 0.2s ease-in-out 0s;
  text-align   : center;
  border-radius: 23px;
  background   : #3c3c3c;
}

.social-likes-counter_empty {
  display: none;
}

.social-likes_style-1 .social-likes-icon:hover {
  background: #252525 !important;
}

.social-likes_style-1 .social-likes-icon:hover .social-likes-counter {
  background: #f97352;
}

.social-likes_style-2 .social-likes-icon {
  background: #252525;
}

.social-likes_style-2 .social-likes-counter {
  background: #f97352;
}

.social-likes_style-2 .social-likes-icon:hover .social-likes-counter {
  background: #3c3c3c;
}

.mbr-plan {
  position      : relative;
  padding-right : 0;
  padding-bottom: 41px;
  padding-left  : 1px;
}

.mbr-plan-first,
.mbr-plan:first-child {
  padding-left: 0;
}

.mbr-plan-last,
.mbr-plan:last-child {
  padding-bottom: 93px;
}

.mbr-plan-box {
  background: #fff;
}

.mbr-plan-header {
  overflow  : hidden;
  padding   : 20px 15px;
  color     : #fff;
  background: #444;
}

.mbr-plan-number {
  font-size    : 80px;
  line-height  : 0;
  margin       : 0 10px 41px;
  padding      : 41px 0;
  text-align   : center;
  color        : #333;
  border-bottom: 1px dotted #ddd;
}

.mbr-plan-details {
  padding-bottom: 41px;
}

.mbr-plan-details ul,
.mbr-plan-list {
  margin    : 0;
  padding   : 0;
  list-style: none;
}

.mbr-plan-details li,
.mbr-plan-item {
  line-height: 40px;
  padding    : 0 15px;
  text-align : center;
}

.mbr-plan-buttons {
  overflow: hidden;
  padding : 0 15px 41px;
}

.mbr-plan-favorite {
  z-index     : 5;
  top         : 15px;
  margin-top  : -30px;
  margin-right: -1px;
  padding-left: 0;
}

.mbr-plan-favorite .mbr-plan-number:before {
  display: block;
  height : 15px;
  content: '';
}

.mbr-plan-favorite .mbr-plan-box {
  padding-bottom: 15px;
  box-shadow    : 0 0 20px 5px rgba(0,0,0,.1);
}

.mbr-plan-primary .mbr-plan-header {
  background: #4c6972;
}

.mbr-plan-success .mbr-plan-header {
  background: #7ac673;
}

.mbr-plan-info .mbr-plan-header {
  background: #27aae0;
}

.mbr-plan-warning .mbr-plan-header {
  background: #faaf40;
}

.mbr-plan-danger .mbr-plan-header {
  background: #f97352;
}
@media (max-width:$screen-xs-max) {
  .mbr-plan,
  .mbr-plan-first,
  .mbr-plan:first-child {
    padding-right: 15px;
    padding-left : 15px;
  }

  .mbr-plan-number {
    font-size: 79px;
  }

  .mbr-plan-details {
    font-size: 17px;
  }

  .mbr-plan-favorite {
    top   : 0;
    margin: 0;
  }
}

.mbr-number {
  display   : inline-block;
  margin-top: -.12em;
}

.mbr-number-num {
  display: inline-table;
  height : 1em;
}

.mbr-number-group {
  position      : relative;
  display       : table-cell;
  vertical-align: middle;
}

.mbr-number-left {
  font-size     : 0.34em;
  line-height   : 0;
  display       : none;
  padding       : 0 5px;
  vertical-align: super;
}

.mbr-number-right {
  font-size     : 0.25em;
  display       : none;
  padding       : 0 5px;
  vertical-align: middle;
  white-space   : nowrap;
}

.mbr-number-caption {
  font-size  : 0.19em;
  line-height: 1em;
  display    : block;
  padding-top: 0.5em;
  text-align : center;
  opacity    : 0.5;
}

.mbr-number-price .mbr-number-value {
  padding-right: 0.28em;
}

.mbr-number-price .mbr-number-left {
  display: inline;
}

.mbr-number-short-price .mbr-number-left,
.mbr-number-short-price .mbr-number-right {
  display: inline;
}

.mbr-number-short-price .mbr-number-caption {
  display: none;
}

.mbr-number-inverse-price .mbr-number-group {
  top: 0.1em;
}

.mbr-number-inverse-price .mbr-number-left {
  display: none;
}

.mbr-number-inverse-price .mbr-number-value {
  padding-left: 0.28em;
}

.mbr-number-inverse-price .mbr-number-right {
  display: inline;
}

.engine {
  position   : absolute;
  padding    : 0;
  text-align : center;
  text-indent: -2400px;
}

#msg-box4-3 .mbr-header-text {
  color: #000;
}

#msg-box4-3 .mbr-header-subtext {
  color: #fff;
}

#msg-box4-3 .mbr-article {
  color: #fff;
}

#msg-box4-3 .mbr-article p {
  color: #fff;
}

#msg-box4-3 .mbr-header-text div {
  font-size: 25px;
}

#msg-box4-4 .mbr-header-text {
  color: #000;
}

#msg-box4-4 .mbr-header-subtext {
  color: #fff;
}

#msg-box4-4 .mbr-article {
  color: #fff;
}

#header4-6 h1 {
  line-height: 80px;
  color      : white;
}

#header4-6 h3 {
  line-height: 60px;
  text-align : center;
  color      : white;
}

#section4 {
  background-color: #15447b;
  @media (max-width:$screen-md-min) {
    padding-top   : 0;
    padding-bottom: 0;
  }
}

#section4 h4 {
  font-family: $font-family-sans-serif;
  font-size  : 24px;
  text-align : center;
  word-break : normal;
  color      : #fff;
  @media (max-width:$screen-xs-min) {
    margin-bottom: 40px;
  }

}

#section6 li {
  font-size  : 20px;
  line-height: 2em;
}

#section6 a:active,
#section6 a:hover,
#section6 a:link,
#section6 a:visited {
  white-space: nowrap;
  color      : #fff;
}

#section6 i {
  display     : block;
  margin-right: auto;
  margin-left : auto;
}

#msg-box4-3 {
  background-color: #fff;
}

#msg-box4-4 {
  background-color: $gray-lighter;
}

#main-container {
  background-color: $gray-lighter;
}

#social-buttons1-10 {
  background-color: $gray-darker;
}

.mbr-header.mbr-header--inline.row {
  padding-top: 20px;
}

.mbr-header-text {
  font-size  : 36px;
  line-height: 110%;
}

.mbr-section.mbr-section--relative.mbr-section--fixed-size.mbr-parallax-background {
  background-image: url('../images/bg-lynch-hidef.jpg') !important;
}

.mbr-section.mbr-section--relative.mbr-section--fixed-size {
  background-color: $gray-darker;
}

// lnch
.mbr-section-container.mbr-section-container--std-padding.container {
  padding-top   : 160px;
  padding-bottom: 160px;
}

.mbr-section-container.mbr-section-container-isolated.container {
  padding: 40px 0;
}
