.become-a-contributor {
  #our-vision {
    max-width: 666px;
  }

  h4 {
    margin: 10px 0 22px;
  }

  .responsive-table {
    .table-cell {
      padding-bottom: 2em;
      @media (min-width:$screen-sm-max) {
        min-height: 20em;
      }
    }
  }
}

.contributor-faq {
  .responsive-table {
    margin: 30px 0;
  }

  .faq h4 {
    margin: 40px 0 20px;
  }
}

.revenue-share-model {
  .list,
  .row {
    margin: 20px 0;
  }

  .avatars,
  .guide-col-1,
  .guide-col-2 {
    padding-top: 16px;
  }

  .avatars {
    max-width: 130px;
    height   : auto;
  }

  .divider {
    margin: 10px;
  }
}
