body {
  font-family: 'avenirnext-regular' !important;
  font-style: normal;
  
  padding-top: 139px;
}

small, .small {
  font-weight: 400;
}

.thin {
  font-weight: 100;
}

h1, h2, h3, h4, h5, h6, strong {
  font-family: 'TheanoDidot-Regular' !important;
  font-weight: 400;
}

.front {
  body {
    padding-top: 20px;
  }
  
  h1, h2, h3, h4, h5, h6, strong {
    color: #fff;
  }
}

em {
  font-style: italic;
  font-weight: 400;
}
