body {
  font-family: 'avenirnext-regular';
  font-style: normal;
  /*font-weight: bold;*/
}

small, .small {
  font-weight: 400;
}

.thin {
  font-weight: 100;
}

h1, h2, h3, h4, h5, h6, strong {
  color: #fff;
  font-family: 'TheanoDidot-Regular';
  font-weight: 400;
}

em {
  font-style: italic;
  font-weight: 400;
}
