block vars
  - var body_classes = ['page', 'become-a-contributor']
  - var page = 'become-a-contributor'
  - var title = 'Become a Contributor'

extends layouts/default

block content
  include templates/become_a_contributor.html
