block vars
  - var body_classes = ['page', 'confirmation-page']
  - var page = 'confirmation'
  - var title = 'Thank You!'

extends layouts/default

block content
  include templates/confirmation.html
