block vars
  - var body_classes = ['page', 'contributor-signup']
  - var page = 'contributor-signup'
  - var title = 'Contributor Signup'

extends layouts/default

block content
  .container(style='padding-top: 140px;')
    p coming soon
