block vars
  - var body_classes = ['page', 'contact']

extends layouts/default

block content
  .container(style='padding-top:200px')
    p Please email us at <a href="mailto:info@enliven.se">info@enliven.se</a>.
