block vars
  - var body_classes = ['page', 'contributor-application-form']
  - var page = 'contributor-application-form'
  - var title = 'Contributor Application Form'

extends layouts/default

block content
  include templates/contributor_application_form.html
