block vars
  - var body_classes = ['page', 'creative-signup']
  - var page = 'creative-signup'
  - var title = 'Creative Signup'

extends layouts/default

block content
  include templates/creative-sign-up.html
