block vars
  - var body_classes = ['page', 'home']
  - var is_front = true
  - var page = 'home'
  - var title = 'Subscribe to Life'

extends layouts/default

block content
  include templates/index.html
