block vars
  - var body_classes = ['page', 'privacy-security']
  - var page = 'privacy-security'
  - var title = 'Privacy and Security'

extends layouts/default

block content
  include templates/privacy_security.html
