block vars
  - var body_classes = ['page', 'revenue-share-model']
  - var page = 'revenue-share-model'
  - var title = 'Revenue Share Model'

extends layouts/default

block content
  include templates/revenue_share_model.html
