block vars
  - var body_classes = ['page', 'submission-guidelines']
  - var page = 'submission-guidelines'
  - var title = 'Submission Guidelines'

extends layouts/default

block content
  include templates/submission_guidelines.html
