block vars
  - var body_classes = ['page', 'terms-conditions']
  - var page = 'terms-conditions'
  - var title = 'Terms and Conditions'

extends layouts/default

block content
  include templates/terms_conditions.html
