block vars
  - var body_classes = ['page', 'terms-conditions']
  - var page = 'trademark-policy'
  - var title = 'Trademark Policy'

extends layouts/default

block content
  include templates/trademark_policy.html
