@font-face {
    font-family: "TheanoDidot-Regular";
    src: url("theanodidot/theanodidot-regular-webfont.eot");
    src: url("theanodidot/theanodidot-regular-webfont.eot?#iefix") format("embedded-opentype"),
         url("theanodidot/theanodidot-regular-webfont.woff2") format("woff2"),
         url("theanodidot/theanodidot-regular-webfont.woff") format("woff"),
         url("theanodidot/theanodidot-regular-webfont.ttf") format("truetype"),
         url("theanodidot/theanodidot-regular-webfont.svg#TheanoDidot-Regular") format("svg");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "avenirnext-bold";
    src: url("avenir-next-lt-pro/avenirnext-bold.eot");
    src: url("avenir-next-lt-pro/avenirnext-bold.eot?#iefix") format("embedded-opentype"),
         url("avenir-next-lt-pro/avenirnext-bold.woff2") format("woff2"),
         url("avenir-next-lt-pro/avenirnext-bold.woff") format("woff"),
         url("avenir-next-lt-pro/avenirnext-bold.ttf") format("truetype"),
         url("avenir-next-lt-pro/avenirnext-bold.svg#avenirnext-bold") format("svg");
    font-weight: 300;
    font-style: normal;
}

/*@font-face {
    font-family: "avenirnext-boldCn";
    src: url("avenir-next-lt-pro/avenirnext-boldCn.eot");
    src: url("avenir-next-lt-pro/avenirnext-boldCn.eot?#iefix") format("embedded-opentype"),
         url("avenir-next-lt-pro/avenirnext-boldCn.woff2") format("woff2"),
         url("avenir-next-lt-pro/avenirnext-boldCn.woff") format("woff"),
         url("avenir-next-lt-pro/avenirnext-boldCn.ttf") format("truetype"),
         url("avenir-next-lt-pro/avenirnext-boldCn.svg#avenirnext-boldCn") format("svg");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "avenirnext-boldCnIt";
    src: url("avenir-next-lt-pro/avenirnext-boldCnIt.eot");
    src: url("avenir-next-lt-pro/avenirnext-boldCnIt.eot?#iefix") format("embedded-opentype"),
         url("avenir-next-lt-pro/avenirnext-boldCnIt.woff2") format("woff2"),
         url("avenir-next-lt-pro/avenirnext-boldCnIt.woff") format("woff"),
         url("avenir-next-lt-pro/avenirnext-boldCnIt.ttf") format("truetype"),
         url("avenir-next-lt-pro/avenirnext-boldCnIt.svg#avenirnext-boldCnIt") format("svg");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "AvenirNextLTPro-Cn";
    src: url("avenir-next-lt-pro/AvenirNextLTPro-Cn.eot");
    src: url("avenir-next-lt-pro/AvenirNextLTPro-Cn.eot?#iefix") format("embedded-opentype"),
         url("avenir-next-lt-pro/AvenirNextLTPro-Cn.woff2") format("woff2"),
         url("avenir-next-lt-pro/AvenirNextLTPro-Cn.woff") format("woff"),
         url("avenir-next-lt-pro/AvenirNextLTPro-Cn.ttf") format("truetype"),
         url("avenir-next-lt-pro/AvenirNextLTPro-Cn.svg#AvenirNextLTPro-Cn") format("svg");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "AvenirNextLTPro-CnIt";
    src: url("avenir-next-lt-pro/AvenirNextLTPro-CnIt.eot");
    src: url("avenir-next-lt-pro/AvenirNextLTPro-CnIt.eot?#iefix") format("embedded-opentype"),
         url("avenir-next-lt-pro/AvenirNextLTPro-CnIt.woff2") format("woff2"),
         url("avenir-next-lt-pro/AvenirNextLTPro-CnIt.woff") format("woff"),
         url("avenir-next-lt-pro/AvenirNextLTPro-CnIt.ttf") format("truetype"),
         url("avenir-next-lt-pro/AvenirNextLTPro-CnIt.svg#AvenirNextLTPro-CnIt") format("svg");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "AvenirNextLTPro-Demi";
    src: url("avenir-next-lt-pro/AvenirNextLTPro-Demi.eot");
    src: url("avenir-next-lt-pro/AvenirNextLTPro-Demi.eot?#iefix") format("embedded-opentype"),
         url("avenir-next-lt-pro/AvenirNextLTPro-Demi.woff2") format("woff2"),
         url("avenir-next-lt-pro/AvenirNextLTPro-Demi.woff") format("woff"),
         url("avenir-next-lt-pro/AvenirNextLTPro-Demi.ttf") format("truetype"),
         url("avenir-next-lt-pro/AvenirNextLTPro-Demi.svg#AvenirNextLTPro-Demi") format("svg");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "AvenirNextLTPro-DemiCn";
    src: url("avenir-next-lt-pro/AvenirNextLTPro-DemiCn.eot");
    src: url("avenir-next-lt-pro/AvenirNextLTPro-DemiCn.eot?#iefix") format("embedded-opentype"),
         url("avenir-next-lt-pro/AvenirNextLTPro-DemiCn.woff2") format("woff2"),
         url("avenir-next-lt-pro/AvenirNextLTPro-DemiCn.woff") format("woff"),
         url("avenir-next-lt-pro/AvenirNextLTPro-DemiCn.ttf") format("truetype"),
         url("avenir-next-lt-pro/AvenirNextLTPro-DemiCn.svg#AvenirNextLTPro-DemiCn") format("svg");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "AvenirNextLTPro-DemiCnIt";
    src: url("avenir-next-lt-pro/AvenirNextLTPro-DemiCnIt.eot");
    src: url("avenir-next-lt-pro/AvenirNextLTPro-DemiCnIt.eot?#iefix") format("embedded-opentype"),
         url("avenir-next-lt-pro/AvenirNextLTPro-DemiCnIt.woff2") format("woff2"),
         url("avenir-next-lt-pro/AvenirNextLTPro-DemiCnIt.woff") format("woff"),
         url("avenir-next-lt-pro/AvenirNextLTPro-DemiCnIt.ttf") format("truetype"),
         url("avenir-next-lt-pro/AvenirNextLTPro-DemiCnIt.svg#AvenirNextLTPro-DemiCnIt") format("svg");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "AvenirNextLTPro-DemiIt";
    src: url("avenir-next-lt-pro/AvenirNextLTPro-DemiIt.eot");
    src: url("avenir-next-lt-pro/AvenirNextLTPro-DemiIt.eot?#iefix") format("embedded-opentype"),
         url("avenir-next-lt-pro/AvenirNextLTPro-DemiIt.woff2") format("woff2"),
         url("avenir-next-lt-pro/AvenirNextLTPro-DemiIt.woff") format("woff"),
         url("avenir-next-lt-pro/AvenirNextLTPro-DemiIt.ttf") format("truetype"),
         url("avenir-next-lt-pro/AvenirNextLTPro-DemiIt.svg#AvenirNextLTPro-DemiIt") format("svg");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "AvenirNextLTPro-HeavyCn";
    src: url("avenir-next-lt-pro/AvenirNextLTPro-HeavyCn.eot");
    src: url("avenir-next-lt-pro/AvenirNextLTPro-HeavyCn.eot?#iefix") format("embedded-opentype"),
         url("avenir-next-lt-pro/AvenirNextLTPro-HeavyCn.woff2") format("woff2"),
         url("avenir-next-lt-pro/AvenirNextLTPro-HeavyCn.woff") format("woff"),
         url("avenir-next-lt-pro/AvenirNextLTPro-HeavyCn.ttf") format("truetype"),
         url("avenir-next-lt-pro/AvenirNextLTPro-HeavyCn.svg#AvenirNextLTPro-HeavyCn") format("svg");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "AvenirNextLTPro-HeavyCnIt";
    src: url("avenir-next-lt-pro/AvenirNextLTPro-HeavyCnIt.eot");
    src: url("avenir-next-lt-pro/AvenirNextLTPro-HeavyCnIt.eot?#iefix") format("embedded-opentype"),
         url("avenir-next-lt-pro/AvenirNextLTPro-HeavyCnIt.woff2") format("woff2"),
         url("avenir-next-lt-pro/AvenirNextLTPro-HeavyCnIt.woff") format("woff"),
         url("avenir-next-lt-pro/AvenirNextLTPro-HeavyCnIt.ttf") format("truetype"),
         url("avenir-next-lt-pro/AvenirNextLTPro-HeavyCnIt.svg#AvenirNextLTPro-HeavyCnIt") format("svg");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "AvenirNextLTPro-It";
    src: url("avenir-next-lt-pro/AvenirNextLTPro-It.eot");
    src: url("avenir-next-lt-pro/AvenirNextLTPro-It.eot?#iefix") format("embedded-opentype"),
         url("avenir-next-lt-pro/AvenirNextLTPro-It.woff2") format("woff2"),
         url("avenir-next-lt-pro/AvenirNextLTPro-It.woff") format("woff"),
         url("avenir-next-lt-pro/AvenirNextLTPro-It.ttf") format("truetype"),
         url("avenir-next-lt-pro/AvenirNextLTPro-It.svg#AvenirNextLTPro-It") format("svg");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "AvenirNextLTPro-MediumCn";
    src: url("avenir-next-lt-pro/AvenirNextLTPro-MediumCn.eot");
    src: url("avenir-next-lt-pro/AvenirNextLTPro-MediumCn.eot?#iefix") format("embedded-opentype"),
         url("avenir-next-lt-pro/AvenirNextLTPro-MediumCn.woff2") format("woff2"),
         url("avenir-next-lt-pro/AvenirNextLTPro-MediumCn.woff") format("woff"),
         url("avenir-next-lt-pro/AvenirNextLTPro-MediumCn.ttf") format("truetype"),
         url("avenir-next-lt-pro/AvenirNextLTPro-MediumCn.svg#AvenirNextLTPro-MediumCn") format("svg");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "AvenirNextLTPro-MediumCnIt";
    src: url("avenir-next-lt-pro/AvenirNextLTPro-MediumCnIt.eot");
    src: url("avenir-next-lt-pro/AvenirNextLTPro-MediumCnIt.eot?#iefix") format("embedded-opentype"),
         url("avenir-next-lt-pro/AvenirNextLTPro-MediumCnIt.woff2") format("woff2"),
         url("avenir-next-lt-pro/AvenirNextLTPro-MediumCnIt.woff") format("woff"),
         url("avenir-next-lt-pro/AvenirNextLTPro-MediumCnIt.ttf") format("truetype"),
         url("avenir-next-lt-pro/AvenirNextLTPro-MediumCnIt.svg#AvenirNextLTPro-MediumCnIt") format("svg");
    font-weight: 300;
    font-style: normal;
}*/

@font-face {
    font-family: "AvenirNextLTPro-Regular";
    src: url("avenir-next-lt-pro/avenirnext-regular.eot");
    src: url("avenir-next-lt-pro/avenirnext-regular.eot?#iefix") format("embedded-opentype"),
         url("avenir-next-lt-pro/avenirnext-regular.woff2") format("woff2"),
         url("avenir-next-lt-pro/avenirnext-regular.woff") format("woff"),
         url("avenir-next-lt-pro/avenirnext-regular.ttf") format("truetype"),
         url("avenir-next-lt-pro/avenirnext-regular.svg#AvenirNextLTPro-Regular") format("svg");
    font-weight: 300;
    font-style: normal;
}

/*@font-face {
    font-family: "AvenirNextLTPro-UltLtCn";
    src: url("avenir-next-lt-pro/AvenirNextLTPro-UltLtCn.eot");
    src: url("avenir-next-lt-pro/AvenirNextLTPro-UltLtCn.eot?#iefix") format("embedded-opentype"),
         url("avenir-next-lt-pro/AvenirNextLTPro-UltLtCn.woff2") format("woff2"),
         url("avenir-next-lt-pro/AvenirNextLTPro-UltLtCn.woff") format("woff"),
         url("avenir-next-lt-pro/AvenirNextLTPro-UltLtCn.ttf") format("truetype"),
         url("avenir-next-lt-pro/AvenirNextLTPro-UltLtCn.svg#AvenirNextLTPro-UltLtCn") format("svg");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "AvenirNextLTPro-UltLtCnIt";
    src: url("avenir-next-lt-pro/AvenirNextLTPro-UltLtCnIt.eot");
    src: url("avenir-next-lt-pro/AvenirNextLTPro-UltLtCnIt.eot?#iefix") format("embedded-opentype"),
         url("avenir-next-lt-pro/AvenirNextLTPro-UltLtCnIt.woff2") format("woff2"),
         url("avenir-next-lt-pro/AvenirNextLTPro-UltLtCnIt.woff") format("woff"),
         url("avenir-next-lt-pro/AvenirNextLTPro-UltLtCnIt.ttf") format("truetype"),
         url("avenir-next-lt-pro/AvenirNextLTPro-UltLtCnIt.svg#AvenirNextLTPro-UltLtCnIt") format("svg");
    font-weight: 300;
    font-style: normal;
}*/
