doctype html
html.no-js(lang='')
  include ../includes/head.jade

  body
    include ../includes/browserupgrade.html
    include ../includes/navigation.jade
    
    block content
      .container(style='padding-top: 140px;')
        p coming soon

    include ../includes/footer.jade
    include ../includes/trackers.html
    include ../includes/scripts.jade
