doctype html
html.no-js(lang='en')
  block vars
  include ../includes/head.jade

  body(class=body_classes)
    include ../includes/browserupgrade.html
    include ../includes/navigation.jade
    
    block content
      .container
        p coming soon

    include ../includes/footer.jade
    include ../includes/trackers.html
    include ../includes/bottom-bar.html
    include ../includes/scripts.jade
