#section6.section
  #custom-html-226
    section#social-buttons1-10.mbr-section.mbr-section-relative.mbr-section-fixed-size
      .mbr-section-container.container
        .row
          .col-sm-9
            .row
              .mbr-social-icons
                .mbr-social-likes.social-likes_style-2(data-counters='false')
                  .mbr-social-icons-icon.social-likes-icon.facebook.socicon-bg-facebook(title='Share link on Facebook')
                    a.socicon.socicon-facebook(href="https://www.facebook.com/Enlivenmagazine/", target="_blank")
                  |                   
                  .mbr-social-icons-icon.social-likes-icon.plusone.socicon-bg-linkedin(title='Share link on Google+')
                    i.socicon.socicon-linkedin(href="#", target="_blank")
                  |                   
                  .mbr-social-icons-icon.social-likes-icon.twitter.socicon-bg-twitter(title='Share link on Twitter')
                    i.socicon.socicon-twitter(href="#", target="_blank")
            |             
            .mbr-contacts.mbr-contacts--wysiwyg.row
              div
                img.mbr-contacts-img.mbr-contacts-img--left(src='/images/enliven-logo-320x132-320x132-95.png')
          |           
          .col-sm-3
            p.mbr-contacts-text
              br
            |             
            ul.mbr-contacts-list
              li
                a.mbr-contacts-link.text-gray(href='about.html') About Enliven
              |               
              li
                a.mbr-contacts-link.text-gray(href='become-a-contributor.html') Become a contributor
              |               
              li
                a(href='contact.html') Contact Us

footer.mbr-section.mbr-section--relative.mbr-section--fixed-size
  .mbr-section-container.container
    .mbr-footer.mbr-footer--wysiwyg.row
      .col-sm-12
        p.mbr-footer-copyright.text-center Copyright &copy; 2015-2016 Nliven Technology AB 
