- var link_classes = ['contacts-link', 'text-gray']
- var navbar_items = data.footer_items

footer#section6.section.footer
  #custom-html-226
    section#social-buttons1-10.section.section-relative.section-fixed-size
      .section-container.container
        .row
          .col-sm-8
            .row
              .social-icons
                .social-likes.social-likes_style-2(data-counters='false')
                  .social-icons-icon.social-likes-icon.facebook.socicon-bg-facebook(title='Share link on Facebook')
                    a.socicon.socicon-facebook(href="https://www.facebook.com/Enliven.co/", target="_blank")
                  .social-icons-icon.social-likes-icon.instagram.socicon-bg-instagram(title="Share link on Instagram")
                    a.socicon.socicon-instagram(href="https://www.instagram.com/enliven.co/", target="_blank")  
                  .social-icons-icon.social-likes-icon.plusone.socicon-bg-linkedin(title='Share link on Google+')
                    a.socicon.socicon-linkedin(href="https://www.linkedin.com/company/enliven-ab", target="_blank")
                  .social-icons-icon.social-likes-icon.twitter.socicon-bg-twitter(title='Share link on Twitter')
                    a.socicon.socicon-twitter(href="https://twitter.com/Enliven_co", target="_blank")
            .contacts.contacts--wysiwyg.row
              div
                a(href='/')
                  img.contacts-img.contacts-img--left(src='/images/enliven-logo-footer.png', alt='Enliven Logo')
          .col-sm-4
            ul.contacts-list
              each item in navbar_items
                li
                  a(class=link_classes class={active: item.className === page}, href=item.url)
                    | !{item.title}

footer.section.section--relative.section--fixed-size
  .section-container.container
    .footer.footer--wysiwyg
      p.footer-copyright.text-center
        | Copyright &copy; 2015-2016 Nliven Technology AB.
      p.footer-copyright.text-center
        | <small>
        | Use of this website is subject to ENLIVEN's
        | #[a(href="/terms-conditions") Terms &amp; Conditions]
        | and
        | #[a(href="/privacy-security") Privacy &amp; Security Policy].
        | </small>
