- var link_classes = ['mbr-contacts-link', 'text-gray']
- var navbar_items = [ { title: 'About Enliven', className: 'about', url: '/about' }, { title: '<span class="text-nowrap">Become a</span> Contributor', className: 'become-a-contributor', url: '/become-a-contributor' }, { title: 'Contact Us', className: 'contact-us', url: '/contact' } ]

footer#section6.section.footer
  #custom-html-226
    section#social-buttons1-10.mbr-section.mbr-section-relative.mbr-section-fixed-size
      .mbr-section-container.container
        .row
          .col-sm-9
            .row
              .mbr-social-icons
                .mbr-social-likes.social-likes_style-2(data-counters='false')
                  .mbr-social-icons-icon.social-likes-icon.facebook.socicon-bg-facebook(title='Share link on Facebook')
                    a.socicon.socicon-facebook(href="https://www.facebook.com/Enlivenmagazine/", target="_blank")
                  |                   
                  .mbr-social-icons-icon.social-likes-icon.plusone.socicon-bg-linkedin(title='Share link on Google+')
                    i.socicon.socicon-linkedin(href="#", target="_blank")
                  |                   
                  .mbr-social-icons-icon.social-likes-icon.twitter.socicon-bg-twitter(title='Share link on Twitter')
                    i.socicon.socicon-twitter(href="#", target="_blank")
            |             
            .mbr-contacts.mbr-contacts--wysiwyg.row
              div
                a(href='/')
                  img.mbr-contacts-img.mbr-contacts-img--left(src='/images/enliven-logo-footer.png')
          |           
          .col-sm-3
            ul.mbr-contacts-list
              each item in navbar_items
                li
                  a(class=link_classes class={active: item.className === page}, href=item.url)
                    | !{item.title}

footer.mbr-section.mbr-section--relative.mbr-section--fixed-size
  .mbr-section-container.container
    .mbr-footer.mbr-footer--wysiwyg.row
      .col-sm-12
        p.mbr-footer-copyright.text-center
          | Copyright &copy; 2015-2016 Nliven Technology AB.
        p.mbr-footer-copyright.text-center
          | <small>
          | Use of this website is subject to ENLIVEN's 
          | #[a(href="/terms-conditions") Terms &amp; Conditions] 
          | and 
          | #[a(href="/privacy-security") Privacy &amp; Security Policy].
          | </small>
          
