footer.mbr-section.mbr-section--relative.mbr-section--fixed-size(style='background-color: rgb(69, 66, 65);')
  .mbr-section__container.container
    .mbr-footer.mbr-footer--wysiwyg.row(style='padding-top: 36px; padding-bottom: 36px;')
      .col-sm-12
        p.mbr-footer__copyright(style='text-align: center;') Copyright &copy; 2015-2016 Nliven Technology AB 
