#section6.section
  #custom-html-226
    section#social-buttons1-10.mbr-section.mbr-section-relative.mbr-section-fixed-size
      .mbr-section__container.container
        .mbr-header.mbr-header--inline.row
          .col-sm-9
            .row
              .mbr-social-icons
                .mbr-social-likes.social-likes_style-2(data-counters='false')
                  .mbr-social-icons__icon.social-likes__icon.facebook.socicon-bg-facebook(title='Share link on Facebook')
                    i.socicon.socicon-facebook
                  |                   
                  .mbr-social-icons__icon.social-likes__icon.plusone.socicon-bg-linkedin(title='Share link on Google+')
                    i.socicon.socicon-linkedin
                  |                   
                  .mbr-social-icons__icon.social-likes__icon.twitter.socicon-bg-twitter(title='Share link on Twitter')
                    i.socicon.socicon-twitter
            |             
            .mbr-contacts.mbr-contacts--wysiwyg.row
              div
                img.mbr-contacts__img.mbr-contacts__img--left(src='/images/enliven-logo-320x132-320x132-95.png')
          |           
          .col-sm-3
            p.mbr-contacts__text
              br
            |             
            ul.mbr-contacts__list
              li
                a.mbr-contacts__link.text-gray(href='about.html') About Enliven
              |               
              li
                a.mbr-contacts__link.text-gray(href='become-a-contributor.html') Become a contributor
              |               
              li
                a(href='contact.html') Contact Us

footer.mbr-section.mbr-section--relative.mbr-section--fixed-size
  .mbr-section__container.container
    .mbr-footer.mbr-footer--wysiwyg.row
      .col-sm-12
        p.mbr-footer__copyright.text-center Copyright &copy; 2015-2016 Nliven Technology AB 
