- var link_classes = ['buttons-link', 'text-black']
- var navbar_items = data.navbar_items
section#ext_menu-0.navbar.navbar-freeze.navbar-absolute.navbar-sticky.navbar-auto-collapse.top
  nav.navbar-section.section.navbar.navbar-default
    .section-container
      .navbar-container.navbar-header.container
        .navbar-column.navbar-column-s.navbar-brand
          span.navbar-brand-link.brand.brand-inline
            span.brand-logo
              a(href='/')
                img.navbar-brand-img.brand-img(src='/images/enliven-logo.png', alt='Enliven Logo')

        .navbar-hamburger.hamburger
          span.hamburger-line

        .navbar-column.navbar-menu
          nav.navbar-menu-box.navbar-menu-box-inline-right
            .navbar-column
              ul.navbar-items.navbar-items-right.float-left.buttons.buttons-freeze.buttons-right.btn-decorator.buttons-active.buttons-only-links.nav.navbar-nav.navbar-right
                each item in navbar_items
                  li.navbar-item
                    a(class=link_classes, class=item.extra_classes, class={active: item.className === page}, href=item.url)
                      | !{item.title}
