section#ext_menu-0.mbr-navbar.mbr-navbar-freeze.mbr-navbar-absolute.mbr-navbar-sticky.mbr-navbar-auto-collapse
  .mbr-navbar__section.mbr-section
    .mbr-section__container.container
      .mbr-navbar__container
        .mbr-navbar__column.mbr-navbar__column-s.mbr-navbar__brand
          span.mbr-navbar__brand-link.mbr-brand.mbr-brand-inline
            span.mbr-brand__logo
              a(href='./')
                img.mbr-navbar__brand-img.mbr-brand__img(src='/images/enliven-logo-320x132-320x132-24.png', alt='Enliven')

        .mbr-navbar__hamburger.mbr-hamburger
          span.mbr-hamburger__line

        .mbr-navbar__column.mbr-navbar__menu
          nav.mbr-navbar__menu-box.mbr-navbar__menu-box-inline-right
            .mbr-navbar__column
              ul.mbr-navbar__items.mbr-navbar__items-right.float-left.mbr-buttons.mbr-buttons-freeze.mbr-buttons-right.btn-decorator.mbr-buttons-active.mbr-buttons-only-links
                li.mbr-navbar__item
                  a.mbr-buttons__link.btn.text-black(href='about.html')
                    | About Enliven

                li.mbr-navbar__item
                  a.mbr-buttons__link.btn.text-black(href='become-a-contributor.html')
                    | <span class="text-nowrap">Become a</span> Contributor

                li.mbr-navbar__item
                  a.mbr-buttons__link.btn.text-black(href='//cms.enliven.se/')
                    | Beta <span class="text-nowrap">Sign-In</span>
