<!-- SECTION 1 - MAIN SECTION -->
<div class="page-about">
  <div class="section" id="section1">
    <section class="section section-relative after-navbar section-light-gray" id="main-container">

      <div class="container box-container section-container section-container-isolated">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-6">
            <h1>
              <span class="text-nowrap underline-red">Just for you</span>

            </h1>
            <div class="text-intro">
              <div class="dropcap-red">
                <p>We are all short on time want the most relevant and inspiring articles at our fingertips. Most of what I
                  find online isn’t really great while paying 8-10 USD for a magazine feels less and less atractive.</p>
                <p>What if you could get an unlimited supply of premium lifestyle articles personalized to you, getting access
                  some of the world’s most inspiring creatives, experts and personal brands? Enliven merges the best from
                  the glossy premium magazines and social media.</p>
              </div>
            </div>
          </div>

          <div class="col-lg-6 col-md-6 col-6 about-top">

          </div>
        </div>
      </div>

    </section>
  </div>




  <!--SECTION 2 - TOPICS BAR -->

  <section class="marquee">
    <div>
      <span>Running Triathlon Travel Downhill Skiing Interior Decoration Cooking Wine</span>
      <span>Running Triathlon Travel Downhill Skiing Interior Decoration Cooking Wine</span>
    </div>

  </section>

  <!--SECTION 3 - iPHONE MOCKUP COPIED FROM CREATIVES-->


  <section id="creatives-section3">
    <div class="container">

      <div class="row">


        <div class="col-md-6">
          <div class="align-top text-center">
            <h2 class="header-wrapper">A premium product</h2>


          </div>
          <div class="text-justify">
            <p>Consumers today expect a personalized experience delivered at their fingertips — many are willing to pay for
              premium articles &amp; content.</p>
            <p>Our aim is to collaborate with some of the world’s best writers, stylists, photographers, experts and personal
              brands delivering a highly personalized and premium editorial product.</p>
            <p>Though early-stage and invite-only, Enliven has attracted massive interest for its business model and managed
              to recruit top lifestyle journalists, stylists and photographers for our upcoming beta.</p>

          </div>
        </div>

        <div class="col-md-6 mockup-bg">
          <div class="align-top">

          </div>
        </div>

      </div>
    </div>
  </section>


  <!--SECTION 4 - A PLATFORM BUILT FOR YOU-->


  <section id="about-section4">
    <div class="container">
      <h1 class="red">A platform built for you</h1>
      <div class="row">
        <div class="col-md-6 col-xs-6 text-right border-right">

          <h4>

            <s>Clicking through multiple sites &amp; blogs</s>

          </h4>
          <h4>
            <s>Click-bait</s>
          </h4>
          <h4>
            &emsp; &emsp; &emsp;

            <s>Pop-ups &amp; banner ads</s>
          </h4>
          <h4>
            <s>Generic layout</s>
          </h4>

        </div>
        <div class="col-md-6 col-xs-6 text-left">

          <h4>Personalized just for you &emsp; &emsp;&emsp;&emsp;&emsp;</h4>
          <h4>Premium articles &amp; content </h4>
          <h4>Pay a few euros/month</h4>
          <h4>Engaging reading experience</h4>

        </div>
      </div>
    </div>
  </section>


  <!--SECTION 5 - BOUDET -->


  <section class="bkg14" id="about-section5">
    <div class="container">
      <div class="row">
        <div class="col-md-6 top-left-bg">
          <div class="text-center">
            <h2 class="header-wrapper">Sébastien Boudet</h2>
          </div>
        </div>
        <div class="col-md-6 red-bg">
          <div class="text-intro text-center">

            <h3>Connect with the world’s most
              <span class="text-nowrap">creative people</span>
            </h3>
            <p>Gain access to the world’s most respected freelance creatives, experts and personal brands, who create inspiring
              articles just for you.
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 gray-bg">
          <div class="text-intro text-center">
            <h3>Follow all the topics &amp; styles that interest and inspire you</h3>
            <p>We will continously find new articles and topics to add to your personal mix.
            </p>
          </div>
        </div>
        <div class="col-md-6 bottom-right-bg">
          <div class="text-center">
            <h2 class="header-wrapper">FASHION</h2>
          </div>
        </div>

      </div>
  </section>


  <!--SECTION 6 - COPIED FROM CREATIVES

  <section class="bkg14" id="creatives-section6">
    <div class="container">
      <h1 class="text-center">
        <em>What do our creatives say?</em>
      </h1>
      <div class="row responsive-table">
        <div class="col-md-3">
          <div class="text-intro text-center">
            <div class="avatar">
              <img src="../images/creative01.jpg" />
            </div>
            <p class="creatives-profile">
              Gain access to the world's most respected freelance creatives, experts and personal brands, creating inspiring articles on
              the subjects that inspire you the
            </p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="text-intro text-center">
            <div class="avatar">
              <img src="../images/creative02.jpg" />
            </div>
            <p class="creatives-profile">
              <em>Gain access to the world's most respected freelance creatives, experts and personal brands, creating inspiring
                articles on the sub</em>
            </p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="text-intro text-center">
            <div class="avatar">
              <img src="../images/creative03.jpg" />
            </div>
            <p class="creatives-profile">
              <em>Gain access to the world's most respected freelance creatives, experts and personal brands, creating inspiring
                articles on the subjects that inspire you</em>
            </p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="text-intro text-center">
            <div class="avatar">
              <img src="../images/creative04.jpg" />
            </div>
            <p class="creatives-profile">
              <em>Gain access to the world's most respected freelance creatives, experts and personal brands, creating inspiring
                articles on the subjeire you the</em>
            </p>
          </div>
        </div>


      </div>
  </section>
-->

  <!--SECTION 7 - LYNCH BCAKGROUND - We're in beta (*section5 class changed to section7, needs to be changed to ready.js bottom-bar!) -->


  <section class="section section section--relative section--fixed-size parallax-background" id="section7">
    <div class="section-container section-container--std-padding container">
      <div class="row">
        <div class="header header--center header--std-padding">
          <h1 class="text-coming-soon">We are in beta</h1>
          <h3 class="text-sign-up">Sign up and stay
            <span class="text-nowrap">in the loop</span>
          </h3>
        </div>
      </div>

      <div class="mc_embed_signup custom-mc_embed_signup_scroll">
        <!-- Begin MailChimp Signup Form -->
        <form action="//enliven.us13.list-manage.com/subscribe/post?u=26bdde73cd2b2aa42aceb57fe&amp;id=50bfc63b1c" method="post"
          id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate js-subscribe-form" novalidate>
          <fieldset class="form-inline form-horizontal mc-field-group">
            <div class="form-group form-group-email">
              <label class="sr-only" for="textinput">Email address</label>
              <input id="textinput" type="email" value="" placeholder="Your email goes here" name="EMAIL" class="form-control required email input-md"
                id="mce-EMAIL" />
            </div>
            <div class="form-group">
              <button id="singlebutton3" name="singlebutton" tabindex="0" name="subscribe" class="btn btn-primary">Notify Me</button>
            </div>
          </fieldset>
          <div class="mce-responses">
            <div class="response js-error-message" id="mce-error-response" style="display:none"></div>
            <div class="response js-success-message" id="mce-success-response" style="display:none"></div>
          </div>
          <div style="position: absolute; left: -5000px;" aria-hidden="true">
            <input type="text" name="b_26bdde73cd2b2aa42aceb57fe_50bfc63b1c" tabindex="-1" value="" />
          </div>
        </form>
        <!--End mc_embed_signup-->
      </div>
    </div>
  </section>
  </div>