<div class="hero about">
  <div class="container">

  </div>
</div>

<section class="bkg16">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h2 class="title" id="join-the-premier-lifestyle-platform">Join the premier lifestyle platform</h2>
        <h3 id="our-mission-is-to-inspire-and-activate-your-life">Our mission: <div class="mission">to inspire you and to activate your life</div></h3>
        <p>The ENLIVEN story started in Southern France in the summer of 2015, when we realized that glossy print magazines didn’t really appeal to us any more. At the same time, the blogosphere and social media platforms didn’t meet our high expectations either. We wanted something else – we wanted more.</p>
        <p>Most of us have multiple interests or hobbies that we want to continuously follow and be inspired by. Time is always a constraint, while the Internet is flooded with crappy content and clickbait. What we really wanted was a curated selection of lifestyle articles personalized just for us. </p>
        <p>Therefore we created ENLIVEN, for you.</p>
      </div>
    </div>
  </div>
</section>

<section class="bkg15">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-2">
        <p>ENLIVEN offers a personalized lifestyle platform where you can follow, share and save your favourite topics and styles.
        </p>
        <p>
          You can share and interact with your favorite stylists, writers, photo&shy;graphers, decorators, and colum&shy;nists that challenge and inspire you.
        </p>
      </div>
      <div class="col-md-4">
        <blockquote>
          <h2>&ldquo;ENLIVEN is all about enriching your life&rdquo;</h2>
        </blockquote>
      </div>
    </div>
  </div>
</section>


<section class="bkg17">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <p><strong>For our contributors:</strong> ENLIVEN has the vision to be the publishing platform that connects you directly with subscribers and the community (think Uber, but in publishing).</p>
        <p>Together we co-create inspiring articles within our favourite topics, marrying fantastic photography or video footage and styling with great writing. Regardless if it's mountain climbing, literature or interior design, our vision is that ENLIVEN will be not only one of your primary revenue channels, but also a fantastic marketing platform for you and your personal brand.</p>
        <p>We hope we have inspired you, and we look forward getting your <a href="contact.html">feedback</a>!</p>
        <p>Daniel &amp; Peter
          <br><em>Co-founders of ENLIVEN</em></p>
      </div>
    </div>
  </div>
</section>
