<h2 id="join-the-premier-lifestyle-platform">Join the premier lifestyle platform</h2>
<h3 id="our-mission-is-to-inspire-and-activate-your-life">Our mission is to inspire and activate your life</h3>
<p>The story about ENLIVEN, our startup, starts in Southern France in the summer of 2015, where we realized that the glossy print magazines didn’t really appeal to us any more. At the same time the blogosphere and social media platforms didn’t either meet
  our highly set expectations. We wanted something else, we wanted more.</p>
<p>Most of us have multiple interests that we continously want to follow and get inspired within. Time is always a constraint, while the Internet is flooded with crappy content and clickbait. Isn’t what we really want a curated selection of lifestyle articles
  packaged in highly personalized magazine?</p>
<p>We believe so. Therefore we created ENLIVEN.</p>
<blockquote>
  <p>“ENLIVEN is all about enriching your life”</p>
</blockquote>
<p>The mission: to inspire, engage and activate our subscribers' lives.</p>
<p>Offering a personalized lifestyle “magazine” where you can follow or save your favourite topics and styles. Sharing and interacting with your favorite lifestyle writers, photographers, or columnists that challenge and inspire you.</p>
<p>For our contributors ENLIVEN has the vision to be an publishing platform connecting you directly with the subscribers (think Uber, but in publishing).</p>
<p>Together we co-create inspiring articles within our favourite topics, marrying fantastic photography or footage with great writing, regardless if its mountain climbing, literature or interior design We want ENLIVEN to be one of your primary revenue channels,
  rather than another marketing platform.</p>
<p>We hope we have started to inspire you and look forward getting your feedback!</p>
<p>Daniel &amp; Peter Co-founders of ENLIVEN</p>
