<div class="hero become-a-contributor">
  <div class="container"></div>
  <div class="flex-slider" data-slider="">
    <ul class="slides centered">
      <li class="flex-slider-slide slide-1">
        <div class="slide-bg"><img class="slide slide-1" src="/images/slides/become-slide-1.png" width="962" height="391" alt=""/></div>
        <div class="slide-text p1">
          <h4>An invite-only network of lifestyle creatives</h4>
        </div>
        <div class="slide-text p2">
          <h4>Collaborating to create inspiring lifestyle articles, look books, columns, reviews, profiles&hellip;</h4>
        </div>
      </li>
      <li class="flex-slider-slide slide-2">
        <div class="row">
          <div class="col-sm-6 slide-bg"><img class="slide slide-2" src="/images/slides/become-slide-2.png" width="314" height="441" alt=""/></div>
          <div class="col-sm-5 slide-text">
            <div>
              <h3>You are an established ENLIVEN contributor passionate about interior design and&nbsp;architecture.</h3>
              <h3>You have an idea for an&nbsp;article.</h3>
            </div>
            </div>
        </div>
      </li>
      <li class="flex-slider-slide slide-3">
        <div class="row">
          <div class="col-sm-6 slide-bg"><img class="slide slide-3" src="/images/slides/become-slide-3.png" width="493" height="441" alt=""/></div>
          <div class="col-sm-5 slide-text">
            <div>
              <h3>Depending on your skill set and article format, you either create the article yourself or form a team with other ENLIVEN contributors.</h3>
              <h3>The team leader decides on an appropriate revenue&nbsp;share.</h3>
            </div>
          </div>
        </div>
      </li>
      <li class="flex-slider-slide slide-4">
        <div class="row">
          <div class="col-sm-6 slide-bg"><img class="slide slide-4" src="/images/slides/become-slide-4.png" width="440" height="441" alt=""/></div>
          <div class="col-sm-5 slide-text">
            <div>
              <h3>The article is created by the team with our easy to use online editorial&nbsp;tools.</h3>
              <h3>Together with ENLIVEN editors, the article is fine-tuned and then&nbsp;published.</h3>
            </div>
          </div>
        </div>
      </li>
      <li class="flex-slider-slide slide-5">
        <div class="row">
          <div class="col-sm-6 slide-bg"><img class="slide slide-5" src="/images/slides/become-slide-5.png" width="496" height="441" alt=""/></div>
          <div class="col-sm-5 slide-text">
            <div>
              <h3>We market and distribute your article on ENLIVEN, social media and other relevant&nbsp;channels.</h3>
              <h3>We also coordinate brand collaborations and ad sales to promote and support your&nbsp;article.</h3>
            </div>
          </div>
        </div>
      </li>
      <li class="flex-slider-slide slide-6">
        <div class="row">
          <div class="col-sm-6 slide-bg"><img class="slide slide-6" src="/images/slides/become-slide-6.png" width="583" height="441" alt=""/></div>
          <div class="col-sm-5 slide-text">
            <div>
              <h3>ENLIVEN's recommendation algorithms ensure that your article is put in front of the right&nbsp;audience.</h3>
              <h3>Your story will be shown to ENLIVEN subscribers who follow related topics, influencers and stories.</h3>
            </div>
          </div>
        </div>
      </li>
      <li class="flex-slider-slide slide-7">
        <div class="row">
          <div class="col-sm-6 slide-bg"><img class="slide slide-7" src="/images/slides/become-slide-7.png" width="480" height="441" alt=""/></div>
          <div class="col-sm-5 slide-text">
            <div>
              <h3>Revenue is shared – contributors retain 60% and editors 10% of total revenues stemming from the article that you&nbsp;created.</h3>
              <h3>ENLIVEN retains 30% to finance our growth, ad sales, marketing, technology, <em class="text-nowrap">et cetera</em>.</h3>
            </div>
          </div>
        </div>
      </li>
    </ul>

  </div>
</div>

<section class="features">
  <div class="container">

    <h3 id="our-vision">Our vision:
      <span class="vision">to enable you to reach new audiences and to create fantastic, inspiring lifestyle stories.</span>
    </h3>

    <div class="row responsive-table">
      <div class="col-md-4 text-center table-cell">
        <div class="align-top">
          <h2>&trade;</h2>
          <h3>Build your brand and reach, connecting directly with a large global&nbsp;audience.</h3>
        </div>
        <div class="align-bottom">
          <a href="#build-your-brand" title="Build Your Brand">Want to learn more ?</a>
        </div>
      </div>

      <div class="col-md-4 text-center table-cell">
        <div class="align-top">
          <h2>$</h2>
          <h3>70% of all our revenue is distributed directly to our&nbsp;contributors.</h3>
        </div>
        <div class="align-bottom">
          <a href="#you-are-the-talent" title="You are the Talent!">Want to learn more ?</a>
        </div>
      </div>

      <div class="col-md-4 text-center table-cell">
        <div class="align-top">
          <h2>&copy;</h2>
          <h3>Its your creative work - why give it away?</h3>
        </div>
        <div class="align-bottom">
          <a href="#retain-your-copyrights" title="Retain Your Copyrights">Want to learn more ?</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bkg12" id="build-your-brand">
  <div class="container">
    <h1>Build Your Brand</h1>
    <h3 id="build-your-brand-and-connect-with-a-global-audience">Build your brand and connect with a global audience</h3>
    <p>In an ever-increasingly competitive market for creative work, building your personal brand and increasing reach has never been more important.</p>
    <p>Are you passionate about a specific lifestyle topic and want to create (or co-create) articles, columns, look books, etc. that will inspire others? Then ENLIVEN is the platform for you.</p>
    <p>Our ambition is to build a stellar publishing platform where we can together create fantastic and inspiring lifestyle articles and help you to get your stories in front of the right audience.</p>
    <p>This is a classic &ldquo;win-win&rdquo;. Without great contributors, ENLIVEN would be nothing and, at the same time, we hope our publishing platform can set a new standard in the industry. Please join us!</p>
    <div class="text-center cta">
      <a class="btn btn-warning" href="/contributor-application-form">
        <span class="text-nowrap">Apply to become an</span>
        <span class="text-nowrap">ENLIVEN contributor</span>
      </a>
    </div>
    <div class="text-center">
      <a class="agrey" href="/contributor-faq">Want to learn more? Read our FAQ</a>
    </div>
  </div>
</section>

<section class="bkg14" id="you-are-the-talent">
  <div class="container">
    <h1>You are the Talent!</h1>
    <h3 id="we-share-the-revenue">We share the revenue. Did we mention, you get 70%!</h3>
    <p>Publishing is a talent business, like all other industries. Why is it then that so many gifted people are paid so little, and almost all the money is spent on overpaid publishing executives, fancy headquarters and shareholder profits?</p>
    <p>You are the talent! By building a new publishing model, ENLIVEN contributors will share 70% of our revenues (mainly through subscriptions and native and display ads).</p>
    <p>ENLIVEN has the long-term vision to be the best paying publishing platform in the world. Sure it will (just like Spotify and other pioneers) take some time, but working as a team we will get there together.</p>
    <div class="text-center cta">
      <a class="btn btn-warning" href="/contributor-application-form">
        <span class="text-nowrap">Apply to become an</span>
        <span class="text-nowrap">ENLIVEN contributor</span>
      </a>
    </div>
    <div class="text-center">
      <a class="agrey" href="/contributor-faq">Want to learn more? Read our FAQ</a>
    </div>
  </div>
</section>

<section class="bkg12" id="retain-your-copyrights">
  <div class="container">
    <h1>Retain Your Copyrights</h1>
    <h3 id="creative-work">It's your creative work - why give it away?</h3>
    <p>Whether it's an old &ldquo;evergreen&rdquo;, previously published editorial, or a freshly developed story that you are publishing for the first time, you will retain all copyright to your material and remain totally free to remove it from ENLIVEN if
      you find greener pastures.</p>
    <p>We believe that you should be able to make money from your creative work, from multiple platforms, thereby creating many separate recurring revenue streams to compensate your talents.
    </p>
    <p>You are the talent and ENLIVEN is just one of the enablers, along with Instagram, blog portals, Vimeo, and other popular channels. Find the platforms that bring your creative work to the right crowd, and roll with it.</p>
    <div class="text-center cta">
      <a class="btn btn-warning" href="/contributor-application-form">
        <span class="text-nowrap">Apply to become an</span>
        <span class="text-nowrap">ENLIVEN contributor</span>
      </a>
    </div>
    <div class="text-center">
      <a class="agrey" href="/contributor-faq">Want to learn more? Read our FAQ</a>
    </div>
  </div>
</section>
