<div class="hero become-a-contributor">
  <div class="container">
    <h2 class="title" id="want-to-become-an-enliven-contributor">Want to become an <span class="text-nowrap">ENLIVEN contributor?</span></h2>
  </div>
</div>

<section class="features">
  <div class="container">

    <h3 id="our-vision" class="text-center">Our vision: to enable you to create fantastic &amp; inspiring lifestyle articles and to reach new audiences.</h3>

    <div class="row responsive-table">
      <div class="col-md-4 text-center table-cell">
        <div class="align-top">
          <h2>&trade;</h2>
          <h4>Build your brand and reach, connecting directly with a large global audience.</h4>
        </div>
        <div class="align-bottom"><a href="#build-your-brand" title="Build Your Brand">Want to learn more ?</a></div>
      </div>

      <div class="col-md-4 text-center table-cell">
        <div class="align-top">
          <h2>$</h2>
          <h4>70% of all our revenue is distributed directly to our contributors.</h4>
        </div>
        <div class="align-bottom"><a href="#you-are-the-talent" title="You are the Talent!">Want to learn more ?</a></div>
      </div>

      <div class="col-md-4 text-center table-cell">
        <div class="align-top">
          <h2>&copy;</h2>
          <h4>It’s your creative work - why give it away?</h4>
        </div>
        <div class="align-bottom"><a href="#retain-your-copyrights" title="Retain Your Copyrights">Want to learn more ?</a></div>
      </div>
    </div>
  </div>
</section>

<section class="bkg12" id="build-your-brand">
  <div class="container">
    <h1>Build Your Brand</h1>
    <h4 id="build-your-brand-and-connect-with-a-global-audience">Build your brand and connect with a global audience</h4>
    <p>In an ever-increasingly competitive market for creative work, building your personal brand and increasing reach has never been more important.</p>
    <p>Are you passionate about a specific lifestyle topic and want to create (or co-create) articles, columns, look books, etc. that will inspire others? Then ENLIVEN is the platform for you.</p>
    <p>Our ambition is to build a stellar publishing platform where we can together create fantastic and inspiring lifestyle articles and, in the process, help you to get your stories in front of the right audience.</p>
    <p>This is classic &ldquo;win-win&rdquo;. Without great contributors, ENLIVEN would be nothing and, at the same time, we hope our publishing platform can set an new standard in the industry – join us!</p>
    <div class="text-center cta">
      <a class="btn btn-warning" href="contributor-application-form.html"><span class="text-nowrap">Apply to become an</span> <span class="text-nowrap">ENLIVEN contributor</span></a>
    </div>
    <div class="text-center">
      <a class="agrey" href="contributor-faq.html">Want to learn more? Read our FAQ</a>
    </div>
  </div>
</section>

<section class="bkg14" id="you-are-the-talent">
  <div class="container">
    <h1>You are the Talent!</h1>
    <h4 id="we-share-the-revenue">We share the revenue. Did we mention, you get 70%!</h4>
    <p>Publishing is a talent business, like all other industries. Why is it then that so many gifted people are paid so little, and almost all the money is spent on overpaid publishing executives, fancy headquarters and shareholder profits?</p>
    <p>You are the talent! By building a new publishing model, ENLIVEN contributors will share 70% of our revenues (mainly through subscriptions and native and display ads).</p>
    <p>ENLIVEN has the long-term vision to be the best paying publishing platform in the world. Sure it will (just like Spotify and other pioneers) take some time, but working as a team we will get there together.</p>
    <div class="text-center cta">
      <a class="btn btn-warning" href="contributor-application-form.html"><span class="text-nowrap">Apply to become an</span> <span class="text-nowrap">ENLIVEN contributor</span></a>
    </div>
    <div class="text-center">
      <a class="agrey" href="contributor-faq.html">Want to learn more? Read our FAQ</a>
    </div>
  </div>
</section>

  <section class="bkg12" id="retain-your-copyrights">
    <div class="container">
      <h1>Retain Your Copyrights</h1>
      <h4 id="creative-work">It's your creative work - why give it away? </h4>
      <p>Whether it's an old &ldquo;evergreen&rdquo;, previously published editorial, or a freshly developed story that you are publishing for the first time, you will retain all copyright to your material and are totally free to remove it from ENLIVEN if you find greener pastures.</p>
      <p>We believe that you should be able to make money from your creative work, from multiple platforms, thereby creating many separate recurring revenue streams to compensate your talents. </p>
      <p>You are the talent and ENLIVEN is just one of the enablers, along with Instagram, blog portals, Vimeo, and other popular channels. Find the platforms that bring your creative work to the right crowd, and roll with it.</p>
      <div class="text-center cta">
        <a class="btn btn-warning" href="contributor-application-form.html"><span class="text-nowrap">Apply to become an</span> <span class="text-nowrap">ENLIVEN contributor</span></a>
      </div>
      <div class="text-center">
        <a class="agrey" href="contributor-faq.html">Want to learn more? Read our FAQ</a>
      </div>
    </div>
  </section>
