<div class="hero become-a-contributor">
  <div class="container">
    <h2 class="title" id="want-to-become-an-enliven-contributor">Want to become an <br>ENLIVEN contributor?</h2>
  </div>
</div>

<section class="features">
  <div class="container">
    <h4 id="our-vision">Our vision - enabling you to create fantastic &amp; <br>inspiring lifestyle articles and reach new audiences.</h4>

    <div class="row">
      <div class="col-md-12">
        <div class="pull-right">
          <div class="col-md-4">
            <p><i class="glyphicon glyphicon-subscript"></i></p>
            <h4>Build your brand and reach connecting directly with a large global audience.</h4>
            <a href="#">Want to learn more ?</a>
          </div>

          <div class="col-md-4">
            <p><i class="glyphicon glyphicon-usd"></i></p>
            <h4>70% of all our revenue is distributed to our contributors.</h4>
            <br>
            <a href="#">Want to learn more ?</a>
          </div>

          <div class="col-md-4">
            <p><i class="glyphicon glyphicon-copyright-mark"></i></p>
            <h4>It’s your creative work - why give it away?</h4>
            <br>
            <br>
            <a href="#">Want to learn more ?</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="bkg12">
  <div class="container">
    <h1 id="build-your-brand">Build Your Brand</h1>
    <h4 id="build-your-brand-and-connect-with-a-global-audience">Build your brand and connect with a global audience</h4>
    <p>In an ever increasing competitive market for creatives, building your personal brand and reach has never been more important.</p>
    <p>Are you passionate about a specific lifestyle topic and want to create or co-create great and inspiring articles ENLIVEN is the platform for you?</p>
    <p>Our ambition is to build a stellar publishing platform where we can co-create fantastic and inspiring lifestyle articles and in the process help you in getting your stories in front of the right audience.</p>
    <p>This is classic win-win. Without great contributors ENLIVEN will be nothing and at the same time we hope our publishing platform maybe can set an new standard in the industry - join the ride!</p>
    <div class="row">
      <div class="col-sm-6 col-sm-offset-5">
        <button id="singlebutton" tabindex="0" name="subscribe" class="btn btn-warning">Apply To become an
          <br>ENLIVEN contributor</button>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-sm-offset-4">
        <a href="#">Want to learn more? Read some of our FAQ’s</a>
      </div>
    </div>
  </div>
</section>

<section class="bkg14">
  <div class="container">
    <h1 id="you-are-the-talent">You are the Talent!</h1>
    <h4 id="we-share-the-revenue">We share the revenue. Did we mention, you get 70%!</h4>
    <p>Publishing is a talent business (like any other industry). So why is it so that so many gifted people are paid so little and that much of the money ends up with expensive publishing executives, fancy headquarters and shareholder profits?</p>
    <p>You are the talent! By building a new generation publishing model, ENLIVEN contributors will share 70% of our total revenues (mainly subscriptions and ad’s).</p>
    <p>ENLIVEN has the long-term vision to be the best paying publishing platform in the world. Sure it will (just like Spotify and the likes) take some time, but if we work as a team we will get there.</p>
    <div class="row">
      <div class="col-sm-6 col-sm-offset-5">
        <button id="singlebutton" name="singlebutton" tabindex="0" name="subscribe" class="btn btn-warning">Apply To become an
          <br>ENLIVEN contributor</button>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-sm-offset-4">
        <a href="#">Want to learn more? Read some of our FAQ’s</a>
      </div>
    </div>
  </div>
</section>


  <section class="bkg12">
    <div class="container">
      <h1 id="retain-your-copyrights">Retain Your Copyrights</h1>
      <h4 id="creative-work">It's your creative work - why give it away? </h4>
      <p>Regardless of an old evergreen or a newly developed article that you publish for the first time, you will of course retain all copyrights to your material and are totally free to move it from ENLIVEN if you're not happy with us.
      </p>
      <p>We believe that you should be able to make money on your creative work on multiple platforms and thereby creating many separate recurring revenue streams
      </p>
      <p>Very much like Vimeo, Instagram, blog portals, etc. you're the talent and ENIVEN is just one of these enablers. Find the platforms that are best at bringing out your creative work to your crowd and roll with it.
      </p>
      <div class="row">
        <div class="col-sm-6 col-sm-offset-5">
          <button id="singlebutton" name="singlebutton" tabindex="0" name="subscribe" class="btn btn-warning">Apply To become an
            <br>ENLIVEN contributor</button>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-sm-offset-4">
          <a href="#">Want to learn more? Read some of our FAQ’s</a>
        </div>
      </div>
    </div>
  </section>
