<div class="hero contributor-faq">
    <div class="container">
        <h1 class="title text-center" id="how-does-it-work">How does it work?</h1>
        <p class="credits">Photo: Samuel Zeller</p>
    </div>
</div>

<section class="features2">
    <div class="container">
        <h1 id="join-a-global-community" class="text-center">Join a global community</h1>
        <div class="row responsive-table">
            <div class="col-md-4 text-center table-cell">
                <div class="align-top">
                    <h4>Connect directly with subscribers and contributors around the world.</h4>
                </div>
            </div>
            <div class="col-md-4 text-center table-cell">
                <div class="align-top">
                    <h4>Join teams to collaborate with like-minded lifestyle creatives.</h4>
                </div>
            </div>
            <div class="col-md-4 text-center table-cell">
                <div class="align-top">
                    <h4>Learn what inspires your followers, and what they want to read.</h4>
                </div>
            </div>
        </div>
    </div>
</section>



<section class="faq">
    <div class="container">
        <h2 id="frequently-asked-questions">Frequently Asked Questions</h2>

        <div class="row">
            <!-- col 1 -->
            <div class="col-md-5">
                <h4 id="what-is-enliven">What is ENLIVEN?</h4>
                <p>Imagine having an interactive, social experience in an online lifestyle magazine. ENLIVEN is a publishing platform that connects exceptional lifestyle creatives (writers, photographers, video artists, stylists, etc.) directly with subscribers
                    who want to consume inspiring and curated lifestyle articles within their favorite topics, from yoga to interior design.</p>
                <p>Our vision is to create a 21<sup>st</sup> century lifestyle platform that offers a uniquely interactive and personalized user experience. By building a global team of highly talented creatives that co-create lifestyle articles, we hope
                    to outpace our online and offline competitors. The plan is to launch in early 2017.</p>
                <h4 id="what-lifestyle-areas-will-enliven-cover">What lifestyle areas will ENLIVEN cover?</h4>
                <p>We aim to cover most lifestyle areas, although we will start out with fewer sections in the beginning. Read more about the ENLIVEN submission process <a href="/submission-guidelines">here</a>.</p>
                <h4 id="why-should-i-become-an-enliven-contributor">Why should I become an ENLIVEN contributor?</h4>
                <p>There are many answers to that question:</p>
                <ol style="list-style-type: decimal">
                    <li>
                        <p>Build your brand and reach. ENLIVEN can provide you a fresh new format in which to work. Our job is to make sure that your stories are marketed and distributed to as many readers as possible. We will actively promote you and your
                            stories on ENLIVEN and other social media platforms, helping you push through the noise.</p>
                    </li>
                    <li>
                        <p>We are not a traditional publisher. We're just your platform, and you retain the copyright to your work. If we can’t be fair and attractive to our contributors you will leave us for another more traditional publishing. It’s that
                            simple!
                        </p>
                    </li>
                    <li>
                        <p>Compensation – we employ a fair and transparent revenue share model.</p>
                    </li>
                </ol>
                <blockquote>
                    &ldquo;Become part of a global creative community&rdquo;
                </blockquote>
                <h4 id="how-does-the-selection-process-work-and-happens-next">How does the selection process work? What happens next?</h4>
                <p>Submit your application for review <a href="https://cms.enliven.co/en/contributor-application-form">here</a>. We will try to respond within two weeks of receiving your submission.</p>
                <p>Since we are starting with only a limited number of contributors, the timing might be a bit off, even if we love your profile. We will keep in touch and keep you up to speed with what is happening at ENLIVEN. Read more about ENLIVEN submission
                    process
                    <a href="/submission-guidelines">here</a>.</p>
                <h4 id="how-does-enliven-revenue-share-model-work">How does ENLIVEN revenue share model work?</h4>
                <p>We have a very transparent and fair revenue share model in which the ENLIVEN contributors will receive 70% of all revenue. The more page views you have during a given month, the larger piece of the pie you get for that period.</p>
            </div>
            <!-- end col 1 -->
            <!-- col 2 -->
            <div class="col-md-2">
            </div>
            <!-- end col 2 -->
            <!-- col 3 -->
            <div class="col-md-5">
                <h4 id="why-will-subscribers-use-enliven">Why will subscribers use ENLIVEN?</h4>
                <p>We want to be the ultimate lifestyle destination for our subscribers, offering the world's best writers &amp; creatives.</p>
                <p>The typical consumer of lifestyle magazines is affluent, short on time, has multiple interests and hobbies, taking inspiration from many sources. Social media is somewhat personalized but usually bite sized, not very inspiring with highly
                    varying quality. Consumers are less and less willing to pay $5-8 per magazine of which they consume maybe 20-30%. Quality articles are still behind paywalls.</p>
                <p>ENLIVEN means no more hunting around on multiple sites or buying expensive paper magazines and is distributed in an interactive and personalized format regardless of device.</p>
                <blockquote>&ldquo;ENLIVEN – one of your revenue &amp marketing platforms&rdquo;</blockquote>
                <h4 id="how-do-i-apply">How do I apply?</h4>
                <p><a href="https://cms.enliven.co/en/contributor-application-form">Sign Up here</a>! Don’t forget to tell us why you are passionate about the lifestyle topics that you want to contribute to at ENLIVEN. Tell us why you would make a great
                    ENLIVEN contributor!
                </p>
                <h4 id="how-do-you-evaluate-and-select-your-enliven-contributors">How do you evaluate and select your ENLIVEN contributors?</h4>
                <p>We want ENLIVEN contributors that are passionate and knowledgeable about the topics that they cover – if you write about health &amp; fitness or music then we would expect that you are somewhat of an expert in this area.</p>
                <p>Sure, we are primarily looking for contributors that have already been published, but if you are passionate about, or an expert in, a topic or have great stories ready, send them to us and we will review them. Please follow the normal
                    application process to submit articles. Our editorial staff will review all pitches from prospective contributors, along with any content submitted.</p>
                <h4 id="how-does-it-work-to-publish-on-enliven">How does it work to publish on ENLIVEN?</h4>
                <p>The general idea with ENLIVEN is to create global, but still small and autonomous, teams that create and publish editorials within their topics of expertise. Read more about the ENLIVEN submission process <a href="/submission-guidelines">here</a>.</p>
                <h4 id="can-i-publish-older-material">Can I publish older material?</h4>
                <p>We like great stories and will be happy to publish "evergreens", if it still is relevant and attractive to our readers. In this way, we enable you to earn money on material lying in your archive.</p>
                <h4 id="how-do-i-get-paid">How do I get paid?</h4>
                <p>Every month we analyze how your old and new articles have been consumed. We will then distribute the proceeds to the bank account you have registered. We work closely with <a href="https://coworks.com/" target="_blank">Coworks</a>, who
                    manage contributor payouts every month.</p>
            </div>
        </div>
        <!-- end col 2 -->
        <p id="below">These are the most common questions we get from contributors. If you haven't found an answer to your question, please <a href="/contact">contact us</a>.</p>
    </div>

</section>

<section class="newt">
    <div class="container">
        <div class="text-center cta">
            <a class="btn btn-primary" href="https://cms.enliven.co/en/contributor-application-form"><span class="text-nowrap">Sign Up to become an</span> <span class="text-nowrap">ENLIVEN contributor</span></a>
        </div>
    </div>
</section>