<div class="hero contributor-faq" >
  <div class="container" >
    <div class="row" >
      <h1 class="title" id="how-does-it-work" >How does it work?</h1>
    </div>
  </div>
</div>

<section class="container">

  <div class="row" style="padding-top: 100px; padding-bottom: 100px">

<div class="col-md-12">
      <div class="col-md-6" >
      <h2 id="join-a-global-community">Join a global community</h2>
    </div>
    <div class="col-md-6">
      <p>Connect directly with subscribers and Enliven contributors around the world.</p>
      <p>Join an ENLIVEN team to collaborate with like-minded lifestyle creatives.</p>
      <p>Learn more about your followers and what they get inspred by and want to read more about.</p>
    </div>
  </div>

<div class="col-md-12">
  <h1 id="frequently-asked-questions">Frequently Asked Questions</h1>
  <p>Below you will find the most common questions we are getting from creatives who are interested becoming an ENLIVEN contributor. If there is a question that you miss and would like to ask, please e-mail to us on: faq@enliven.se</p>
</div>

<div class="row">
<div class="col-md-12">
  <div class="col-md-6">
    <h2 id="what-is-enliven">What is ENLIVEN?</h2>
    <p>ENLIVEN is an online publishing platform connecting fantastic &amp; talented lifestyle creatives (writers, photographers, videographers, stylists, etc.) directly with subscribers who want to consume inspiring and curated lifestyle articles within
      their favorite topics, regardless if its yoga, mountain climbing, literature or interior design.</p>
    <p>Our vision is to create a 21st century lifestyle magazine that offers a more interactive and personalized user experience than ever seen before.</p>
    <p>By building a global team of highly talented creatives that co-create lifestyle articles, we hope to oupace our online and offline competitors.</p>
    <h2 id="what-lifestyle-areas-will-enliven-cover">What lifestyle areas will ENLIVEN cover?</h2>
    <p>We aim to cover most lifestyle areas even though we will start out with fewer sections in the beginning. Read more about ENLIVEN submission process here.</p>
    <h2 id="why-should-i-become-an-enliven-contributor">Why should I become an ENLIVEN contributor?</h2>
    <p>At the end of the day there are many possible answers to that question. However we believe that ENLIVEN compares favorably to traditional publishing houses with respect to:</p>
    <ol style="list-style-type: decimal">
      <li>
        <p>We have no ambitions of becoming a traditional publisher, but rather want to be “the” publishing platform for creatives in the lifestyle publishing industry. If we can’t be fair and attractive to our contributors you will leave us and go to other
          platforms. It’s that simple!</p>
      </li>
      <li>
        <p>Build you brand and reach. We will actively market you and your stories on ENLIVEN and most other Social Media platforms helping you push trough the noise. If you not are happy you will take your material and leave (as you retain all your copyrights)</p>
      </li>
      <li>
        <p>Compensation – we employ a fair and transparent revenue share model (read more here).</p>
      </li>
    </ol>
    <h2 id="how-does-the-selection-process-work-and-happens-next">How does the selection process work and happens next?</h2>
    <p>Submit your application here and the ENLIVEN team will review your resume and articles.</p>
    <p>Our editors work full to part time, so we may not be able to respond to your application immediately we will try to do so within a one week period.</p>
    <p>The plan is to launch our first Beta-version during the fall with full commercial launch in january 2017.</p>
    <p>However note that due to the fact that we are starting out with a limited amount of lifestyle sections, it might be that we love your profile but the timing is a bit off. Anyways we will keep in touch and keep you up to speed what is happening at
      ENLIVEN. Read more about ENLIVEN submission process here.</p>
    <h2 id="how-does-enliven-revenue-share-model-work">How does ENLIVEN revenue share model work?</h2>
    <p>The ambition is to have a very transparent and fair revenue share model in which the ENLIVEN contributors will retain 70% of all subscription and ad revenue and thereby forging a strong partnership.</p>
    <p>We have stolen parts of it from Spotify and in short, the more page views you have during a month, the larger piece of the pie do you get that month. Learn more here.</p>
</div>


<div class="col-md-6">
    <h2 id="why-will-subscribers-use-enliven">Why will subscribers use ENLIVEN?</h2>
    <p>We want to be the ultimate lifestyle destination for our subscribers offering the worlds best writers &amp; creatives.</p>
    <p>Research show that most people have many different lifestyle interests &amp; hobbies and find it useful to be able to read relevant and inspiring articles in one place. No more hunting around on multiple sites or buying expensive paper magazines,
      in which maybe only 30% of the articles inspire you. All distributed in an interactive and personalized format regardless of device.</p>
    <h2 id="how-do-i-apply">How do I apply?</h2>
    <p>Apply here!</p>
    <p>Don’t forget to tell us what makes you passionate about the lifestyle topics that you want to contribute to at ENLIVEN. Please also add recent examples of your work, regardless if it’s a column, recent editorial photography or examples of look books.</p>
    <h2 id="how-do-you-evaluate-and-select-your-enliven-contributors">How do you evaluate and select your Enliven contributors?</h2>
    <p>We want ENLIVEN contributors that are passionate and has experience in the topics that they cover – if you write about Health &amp; Fitness or Music then we would expect that you are somewhat of a matter expert on this area.</p>
    <p>Sure we are primarily looking for contributors that already has been published, but if you are passionate about some topics or have great stories already in the drawer, send it to us and we will review it. Please follow the normal application process
      to submit articles.</p>
    <h2 id="how-does-it-work-to-publish-on-enliven">How does it work to publish on ENLIVEN?</h2>
    <p>The general idea with ENLIVEN is to create global but still small and autonomus teams that create or co-create and publish stories withing their topics of expertise.</p>
    <p>We work pretty much like many other publishers, with the exception that we distributed much of the powers and responsabilities to our contributors.</p>
    <p>As we together are co-creating ENLIVEN and we all want to ensure the highest possible standard, we will employ something we call “Peer Review”.</p>
    <p>Shortly this means that we give anonymous feedback to each other and thereby helping you to become better in your trait and more importantly to ensure the highest possible standard to our subscribers in the long-run.</p>
    <p>Specific feedback from one ENLIVEN contributor maybe just be “matter of opinion” but if you get feedback from 5-10 contributors it might help you hone your skills.</p>
    <h2 id="can-i-publish-older-material">Can I publish older material?</h2>
    <p>We like great stories and will be happy to publish evergreens and older creative work, if it still is relevant and attractive to our readers, thus making it able for you to earn money on material that today just lies in your “cupboard”.</p>
    <h2 id="how-do-i-get-paid">How do I get paid?</h2>
    <p>Every month we analyze how your old and new articles has been consumed and then based on that distribute the proceeds to your designated bank account.</p>
    <p>We are working closely with Coworks who manages our contributor payouts every month. Read more about our payment process here.</p>



    <div class="col-sm-6">
      <button id="singlebutton" name="singlebutton" tabindex="0" name="subscribe" class="btn btn-warning">Apply To become an <br>ENLIVEN contributor</button>
    </div>

  </div>
</div>
</div>
</section>
