<div class="hero contributor-faq">
  <div class="container">
    <h1 class="title text-center" id="how-does-it-work">How does it work?</h1>
  </div>
</div>

<section class="features2">
  <div class="container">
    <h1 id="join-a-global-community" class="text-center">Join a global community</h1>
    <div class="row responsive-table">
      <div class="col-md-4 text-center table-cell">
        <div class="align-top">
          <h4>Connect directly with subscribers and Enliven contributors around the world.</h4>
        </div>
      </div>
      <div class="col-md-4 text-center table-cell">
        <div class="align-top">
          <h4>Join an ENLIVEN team to collaborate with like-minded lifestyle creatives.</h4>
        </div>
      </div>
      <div class="col-md-4 text-center table-cell">
        <div class="align-top">
          <h4>Learn more about your followers, what they get inspred by and want to read about.</h4>
        </div>
      </div>
    </div>
  </div>
</section>



<section class="faq">
  <div class="container">
    <h2 id="frequently-asked-questions">Frequently Asked Questions</h2>
    <p id="below">Below you will find the most common questions we get from prospective contributors. If you have any questions that aren't covered here, please e-mail us at <a href="mailto:faq@enliven.se">faq@enliven.se</a></p>
    <div class="row">
      <!-- col 1 -->
      <div class="col-md-6">
        <h4 id="what-is-enliven">What is ENLIVEN?</h4>
        <p>ENLIVEN is an online publishing platform that connects fantastic and talented lifestyle creatives (writers, photographers, video artists, stylists, etc.) directly with subscribers who want to consume inspiring and curated lifestyle articles within
          their favorite topics, regardless if it's yoga, mountain climbing, literature or interior design.</p>
        <p>Our vision is to create a 21<sup>st</sup> century lifestyle platform that offers a more inspiring, interactive and personalized user experience than ever before seen.</p>
        <p>By building a global team of highly talented creatives that co-create lifestyle articles, we hope to outpace our online and offline competitors.</p>
        <h4 id="what-lifestyle-areas-will-enliven-cover">What lifestyle areas will ENLIVEN cover?</h4>
        <p>We aim to cover most lifestyle areas even though we will start out with fewer sections in the beginning. Read more about the ENLIVEN submission process <a href="/submission-guidelines">here</a>.</p>
        <h4 id="why-should-i-become-an-enliven-contributor">Why should I become an ENLIVEN contributor?</h4>
        <p>At the end of the day there are many possible answers to that question. However we believe that ENLIVEN compares favorably to traditional publishing houses with respect to:</p>
        <ol style="list-style-type: decimal">
          <li>
            <p>Compensation – we employ a fair and transparent revenue share model (read more <a href="/revenue-share-model">here</a>).</p>
          </li>
          <li>
            <p>We want to be “the” publishing platform for creatives in the lifestyle publishing industry. We have no ambitions of becoming a traditional publisher. If we can’t be fair and attractive to our contributors you will leave us for another more
              traditional publishing platform. It’s that simple!</p>
          </li>
          <li>
            <p>Build your brand and reach. We will actively market you and your stories on ENLIVEN and other social media platforms, helping you push through the noise. If you not are happy, you can take your material and leave – as you retain the copyright
              to your work.
            </p>
          </li>
        </ol>
        <blockquote>
          &ldquo;Become part of a global creative community&rdquo;
        </blockquote>
        <h4 id="how-does-the-selection-process-work-and-happens-next">How does the selection process work? What happens next?</h4>
        <p>Submit your application <a href="/contributor-application-form">here</a> and the ENLIVEN team will review your resumé and articles.</p>
        <p>We will respond to your application as soon as possible; we endeavor to do so within one week after your complete submission has been received.</p>
        <p>The plan is to launch our first Beta-version during the fall with full commercial launch in january 2017.</p>
        <p>Note however that, due to the fact that we are starting out with a limited amount of lifestyle sections, it might be that we love your profile but the timing is a bit off. We will keep in touch and keep you up to speed what is happening at ENLIVEN.
          Read more about ENLIVEN submission process <a href="/submission-guidelines">here</a>.</p>
        <h4 id="how-does-enliven-revenue-share-model-work">How does ENLIVEN revenue share model work?</h4>
        <p>The ambition is to have a very transparent and fair revenue share model in which the ENLIVEN contributors will retain 70% of all subscription and advertising revenue and thereby forging a strong partnership.</p>
        <p>The more page views you have during a given month, the larger piece of the pie do you get that month. Learn more <a href="/submission-guidelines">here</a></p>
      </div>
      <!-- end col 1 -->
      <!-- col 2 -->
      <div class="col-md-6">
        <h4 id="why-will-subscribers-use-enliven">Why will subscribers use ENLIVEN?</h4>
        <p>We want to be the ultimate lifestyle destination for our subscribers, offering the world's best writers &amp; creatives.</p>
        <p>People have many different lifestyle interests and hobbies and find it useful to be able to read relevant and inspiring articles in one place. No more hunting around on multiple sites or buying expensive paper magazines, in which maybe only 30%
          of the articles inspire you. All distributed in an interactive and personalized format regardless of device.</p>
        <blockquote>&ldquo;ENLIVEN – one of your revenue &amp marketing platforms&rdquo;</blockquote>
        <h4 id="how-do-i-apply">How do I apply?</h4>
        <p><a class="btn btn-default" href="/contributor-application-form">Apply here!</a></p>
        <p>Don’t forget to tell us what makes you passionate about the lifestyle topics that you want to contribute to at ENLIVEN. Please also add recent examples of your work, regardless if it’s a column, recent editorial photography or examples of look
          books.
        </p>
        <h4 id="how-do-you-evaluate-and-select-your-enliven-contributors">How do you evaluate and select your Enliven contributors?</h4>
        <p>We want ENLIVEN contributors that are passionate and knowledgeable about the topics that they cover – if you write about Health &amp; Fitness or Music then we would expect that you should be somewhat of an expert in this area.</p>
        <p>Sure, we are primarily looking for contributors that have already been published, but if you are passionate about a topic or have great stories ready to be published, send them to us and we will review them. Please follow the normal application
          process to submit articles.</p>
        <h4 id="how-does-it-work-to-publish-on-enliven">How does it work to publish on ENLIVEN?</h4>
        <p>The general idea with ENLIVEN is to create global, but still small and autonomous, teams that create or co-create and publish stories within their topics of expertise.</p>
        <p>We work pretty much like many other publishers, with the exception that we distribute much of the power and responsabilities to our contributors.</p>
        <p>As we are together co-creating ENLIVEN and we all want to ensure the highest possible quality, we will employ peer review.</p>
        <p>In short this means that writers give anonymous feedback to each other, thereby helping you to become better in your field and more importantly to ensure the highest possible standard to our subscribers in the long run.</p>
        <p>Specific feedback from one ENLIVEN contributor can sometimes amount simply to a matter of opinion, but feedback from 5-10 contributors can help you hone your skills.</p>
        <h4 id="can-i-publish-older-material">Can I publish older material?</h4>
        <p>We like great stories and will be happy to publish "evergreens" and older creative work, if it maintains its relevance and attractiveness to our readers. In this way, we make it possible for you to earn money on material that today just lies dormant
          in your archive.</p>
        <h4 id="how-do-i-get-paid">How do I get paid?</h4>
        <p>Every month we analyze how your old and new articles have been consumed. Then, based on the the total user interest and interactions with your work, we will distribute the proceeds to the bank account you have registered.</p>
        <p>We work closely with <a href="https://coworks.com/" target="_blank">Coworks</a>, who manage contributor payouts every month. Read more about our payment process <a href="/revenue-share-model">here</a>.</p>
      </div>
    </div>
    <!-- end col 2 -->
  </div>
</section>

<section class="newt">
  <div class="container">
    <div class="text-center cta">
      <a class="btn btn-warning" href="/contributor-application-form"><span class="text-nowrap">Apply to become an</span> <span class="text-nowrap">ENLIVEN contributor</span></a>
    </div>
  </div>
</section>
