<div class="creative-signup teco container">
    <h1 id="terms-conditions">
        <span class="underline-red">Creative sign-up</span>
    </h1>
    <div class="form-group">
        <form name="insightly_web_to_lead" action="https://crm.na1.insightly.com/WebToLead/Create" method="post">
            <input type="hidden" name="formId" value="KtG9FV65nech2U0pELI/og==" />


            <label for="insightly_firstName">First Name </label>
            <input id="insightly_firstName" name="FirstName" type="text" class="form-control form-control-lg" />


            <label for="insightly_lastName">Last Name </label>
            <input id="insightly_lastName" name="LastName" type="text" class="form-control form-control-lg" />



            <div class="form-check form-check-inline">
                <label>Expertise</label>
                <br/>
                <label class="form-check-label" for="insightly_LEAD_FIELD_6">Writer </label>
                <input id="insightly_LEAD_FIELD_6" name="LEAD_FIELD_6" type="checkbox" class="form-check-input" />
                <br/>
                <label class="form-check-label" for="insightly_LEAD_FIELD_5">Photographer </label>
                <input id="insightly_LEAD_FIELD_5" name="LEAD_FIELD_5" type="checkbox" class="form-check-input" />
                <br/>
                <label class="form-check-label" for="insightly_LEAD_FIELD_10">Editor </label>
                <input id="insightly_LEAD_FIELD_10" name="LEAD_FIELD_10" type="checkbox" class="form-check-input" />
                <br/>
                <label class="form-check-label" for="insightly_LEAD_FIELD_7">Stylist </label>
                <input id="insightly_LEAD_FIELD_7" name="LEAD_FIELD_7" type="checkbox" class="form-check-input" />
                <br/>
                <label for="insightly_LEAD_FIELD_8">Expert </label>

                <input id="insightly_LEAD_FIELD_8" name="LEAD_FIELD_8" type="checkbox" class="form-check-input" />
                <br/>
                <label for="insightly_LEAD_FIELD_9">Personal Brand </label>
                <input id="insightly_LEAD_FIELD_9" name="LEAD_FIELD_9" type="checkbox" class="form-check-input" />

            </div>
            <br/>
            <label for="insightly_LEAD_FIELD_2">Category </label>
            <select class="form-control form-control-lg" id="insightly_LEAD_FIELD_2" name="LEAD_FIELD_2" value="Home &amp; Garden">
                <option selected value="Home &amp; Garden">Home &amp; Garden</option>
                <option value="Food &amp; Wine">Food &amp; Wine</option>
                <option value="Outdoor &amp; Health">Outdoor &amp; Health</option>
                <option value="Arts &amp; Entertainment">Arts &amp; Entertainment</option>
                <option value="Science &amp; Technology">Science &amp; Technology</option>
                <option value="Women&#39;s Lifestyle">Women&#39;s Lifestyle</option>
                <option value="Men&#39;s Lifestyle">Men&#39;s Lifestyle</option>
            </select>
            <br/>
            <label for="website">Website</label>
            <input id="insightly_WebSite" name="website" type="text" class="form-control form-control-lg" />
            <br/>
            <label for="insightly_LEAD_FIELD_4">Instagram </label>
            <input id="insightly_LEAD_FIELD_4" name="LEAD_FIELD_4" type="text" class="form-control form-control-lg" />
            <br/>
            <label for="email">Email </label>
            <input id="insightly_Email" name="email" type="text" class="form-control form-control-lg" />
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            <br/>
            <label for="phone">Phone </label>
            <input id="insightly_Phone" name="phone" type="text" class="form-control form-control-lg" />
            <br/>
            <label for="AddressCountry">Country </label>
            <input id="insightly_AddressCountry" name="AddressCountry" type="text" class="form-control form-control-lg" />
            <br/>

            <label for="insightly_LEAD_FIELD_12">Comments </label>
            <input id="insightly_LEAD_FIELD_12" name="LEAD_FIELD_12" type="text" class="form-control form-control-lg" rows="3" />
            <br/>
            <input type="hidden" id="insightly_ResponsibleUser" name="ResponsibleUser" value="1533112" />
            <input type="hidden" id="insightly_LeadSource" name="LeadSource" value="2295827" />
            <input type="submit" class="btn btn-primary" value="Submit">
        </form>
    </div>

</div>