<section class="teco">
    <div class="container">
        <h1 id="terms-conditions">
            <span class="underline-red">DMCA Policy</span>
        </h1>
        <p>
            <span class="dropcap-red">T</span>his policy explains how Enliven responds to notices of the unauthorized use of copyrighted images, text,
            video or links to allegedly infringing materials under the Digital Millennium Copyright Act (&ldquo;DMCA&rdquo;).
            DMCA explains the statutory requirements for reporting copyright infringement. If you aren&rsquo;t sure whether
            you own the copyright in a particular work, please consult an attorney before sending a copyright notice to us.</p>
        <h2>How to File a DMCA Notice</h2>
        <p>To submit a notice of claimed copyright infringement, you will need to provide us with the following information:</p>
        <ol>
            <li> A physical or electronic signature (typing your full name will suffice) of the copyright owner or a person authorized
                to act on their behalf;</li>
            <li>Identification of the copyrighted work claimed to have been infringed (e.g., a copy of or link to your original
                work or clear description of the materials allegedly being infringed upon);</li>
            <li>Identification of the infringing material and information reasonably sufficient to permit Enliven to locate the
                material on our website or services (e.g., a link to the infringing post);</li>
            <li>Your contact information, including your address, telephone number, and an email address;</li>
            <li>A statement that you have a good-faith belief that the use of the material in the manner asserted is not authorized
                by the copyright owner, its agent, or the law; and</li>
            <li>A statement that the information in the notification is accurate, and, under penalty of perjury, that you are
                authorized to act on behalf of the copyright owner.</li>
        </ol>
        <p> You report the alleged copyright infringement by emailing the above information to
            <a href="mailto:copyright@enliven.co">copyright@enliven.co</a>.</p>
    </div>
</section>