<div id="pagepiling" class="front">
  <div class="section" id="section1">
    <section class="mbr-box mbr-section mbr-section-relative mbr-section-fixed-size mbr-section-full-height mbr-section-bg-adapted" id="main-container" style="background-color: rgb(193, 193, 193);">
      <div id="background"></div>
      <div class="mbr-box__magnet mbr-box__magnet-sm-padding mbr-box__magnet-center-center mbr-after-navbar">
        <div class="mbr-box__container mbr-section__container container">
          <div class="mbr-box mbr-box-stretched">
            <div class="mbr-box__magnet mbr-box__magnet-center-center">
              <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                  <div class="mbr-hero animated fadeInUp">
                    <h1 class="mbr-hero__text">Tune in &amp; subscribe to life</h1>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <div class="section" id="section2">
    <section class="mbr-section mbr-section-relative" id="msg-box4-3" style="background-color: rgb(255, 255, 255);">
      <div class="mbr-section__container mbr-section__container-isolated container">
        <div class="row">
          <div class="mbr-box mbr-box-fixed mbr-box-adapted">
            <div class="mbr-box__magnet mbr-class-mbr-box__magnet-center-left col-sm-6 mbr-section__left">
              <div class="mbr-section__container mbr-section__container-middle">
                <div class="mbr-header mbr-header-auto-align mbr-header-wysiwyg">
                  <h3 class="mbr-header__text">Follow all your lifestyle interests in one place...</h3>
                </div>
              </div>
            </div>
            <div class="mbr-box__magnet mbr-box__magnet-top-left mbr-section__right col-sm-6">
              <figure class="mbr-figure mbr-figure-adapted mbr-figure-caption-inside-bottom mbr-figure-full-width"><img src="/images/new-497x441-10.jpg" class="mbr-figure__img"></figure>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <div class="section" id="section3">
    <section class="mbr-section mbr-section-relative" id="msg-box4-4" style="background-color: rgb(193, 193, 193);">
      <div class="mbr-section__container mbr-section__container-isolated container" style="padding-top: 150px;">
        <div class="row">
          <div class="mbr-box mbr-box-fixed mbr-box-adapted">
            <div class="mbr-box__magnet mbr-class-mbr-box__magnet-center-left col-sm-6 mbr-section__left">
              <div class="mbr-section__container mbr-section__container-middle">
                <div class="mbr-header mbr-header-auto-align mbr-header-wysiwyg">
                  <h3 class="mbr-header__text">..connecting you with the best lifestyle journalists, writers photographers, stylists, videographers…</h3>
                </div>
              </div>
              <div class="mbr-section__container">
                <div class="mbr-buttons mbr-buttons-auto-align btn-inverse"> <a class="mbr-buttons__btn btn btn-lg btn-default" href="become-a-contributor.html">Apply to become an<br>ENLIVEN contributor</br></a></div>
              </div>
            </div>
            <div class="mbr-box__magnet mbr-box__magnet-top-left mbr-section__right col-sm-6">
              <figure class="mbr-figure mbr-figure-adapted mbr-figure-caption-inside-bottom mbr-figure-full-width"><img src="/images/grid-people-305x305-65.png" class="mbr-figure__img"></figure>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <div class="section" id="section4">
    <section class="mbr-section__container mbr-section__container-isolated container">
      <div class="row">
        <div class="col-md-4">
          <h4 class="lead">Your lifestyle destination, offering the world’s best lifestyle writers &amp; creatives</h4>
        </div>
        <div class="col-md-3 col-md-offset-1">
          <h4 class="lead">Personalized &amp; curated lifestyle stories tailored to you</h4>
        </div>
        <div class="col-md-3 col-md-offset-1">
          <h4 class="lead">It's free!</h4>
        </div>
      </div>
    </section>
  </div>

  <div class="section" id="section5">
    <div id="custom-html-123">
      <section class="mbr-section mbr-section--relative mbr-section--fixed-size mbr-parallax-background">
        <div class="mbr-section__container mbr-section__container--std-padding container">
          <div class="row">
            <div class="mbr-header mbr-header--center mbr-header--std-padding">
              <h1 class="mbr-header__text" style="font-size: 54px; color: #FFFFFF;">Coming soon!</h1>
              <h3 class="mbr-header__text" style="font-size: 30px;color: #FFFFFF; line-height: 3;">Sign-up and stay in the loop</h3>
            </div>
          </div>

          <div class="mc_embed_signup custom-mc_embed_signup_scroll">
            <!-- Begin MailChimp Signup Form -->
            <form action="//enliven.us13.list-manage.com/subscribe/post?u=26bdde73cd2b2aa42aceb57fe&amp;id=50bfc63b1c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="form-inline validate form-horizontal js-subscribe-form" novalidate>
              <fieldset>
                <div class="form-group mc-field-group">
                  <div class="row">
                    <div class="col-sm-8">
                      <input id="textinput" type="email" value="" placeholder="Your email goes here" name="EMAIL" class="form-control required email input-md" id="mce-EMAIL"/>
                    </div>
                    <div class="col-sm-4">
                      <button id="singlebutton3" name="singlebutton" tabindex="0" name="subscribe" class="btn btn-warning">Notify Me</button>
                    </div>
                  </div>
                  <div class="mce-responses">
                    <div class="response js-error-message" id="mce-error-response" style="display:none"></div>
                    <div class="response js-success-message" id="mce-success-response" style="display:none"></div>
                  </div>
                  <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_26bdde73cd2b2aa42aceb57fe_50bfc63b1c" tabindex="-1" value=""/></div>
                </div>
              </fieldset>
            </form><!--End mc_embed_signup-->
          </div>
        </div>
      </section>
    </div>
  </div>

  <div class="section" id="section6">
    <div id="custom-html-226">
      <section class="mbr-section mbr-section-relative mbr-section-fixed-size" id="social-buttons1-10" style="background-color: rgb(69, 66, 65);">
        <div class="mbr-section__container container">
          <div class="mbr-header mbr-header--inline row" style="padding-top: 40.8px; padding-bottom: 2.8px;">
            <div class="col-sm-9">
              <div class="row">
                <div class="mbr-social-icons">
                  <div class="mbr-social-likes social-likes_style-2" data-counters="false">
                    <div class="mbr-social-icons__icon social-likes__icon facebook socicon-bg-facebook" title="Share link on Facebook">
                      <i class="socicon socicon-facebook"></i>
                    </div>
                    <div class="mbr-social-icons__icon social-likes__icon plusone socicon-bg-linkedin" title="Share link on Google+">
                      <i class="socicon socicon-linkedin"></i>
                    </div>
                    <div class="mbr-social-icons__icon social-likes__icon twitter socicon-bg-twitter" title="Share link on Twitter">
                      <i class="socicon socicon-twitter"></i>
                    </div>
                  </div>
                </div>
              </div>

              <div class="mbr-contacts mbr-contacts--wysiwyg row" style="padding-top: 5px; padding-bottom: 5px;">
                <div><img src="/images/enliven-logo-320x132-320x132-95.png" class="mbr-contacts__img mbr-contacts__img--left"></div>
              </div>
            </div>

            <div class="col-sm-3">
              <p class="mbr-contacts__text">
                <br>
              </p>
              <ul class="mbr-contacts__list">
                <li><a class="mbr-contacts__link text-gray" href="//www.enliven.se">About Enliven</a></li>
                <li><a class="mbr-contacts__link text-gray" href="//www.enliven.se">Become a contributor</a></li>
                <li><a href="//www.enliven.se">Contact Us</a></li>
              </ul>
            </div>
          </div>
        </div>
        <!--close container -->
      </section>
    </div>

  </div>
</div>
