<div id="pagepiling" class="front">
  <div class="section" id="section1">
    <section class="box section section-relative section-fixed-size section-full-height section-bg-adapted" id="main-container">
      <div id="background" class="poster"></div>
      <div class="box-magnet box-magnet-sm-padding box-magnet-center-center after-navbar">
        <div class="box-container section-container container">
          <div class="box box-stretched">
            <div class="box-magnet box-magnet-center-center">
              <div class="hero animated fadeInUp text-center">
                <h1 class="hero-text">Subscribe <span class="text-nowrap">to Life</span></h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <div class="section" id="section2">
    <section class="section section-relative" id="msg-box4-3">
      <div class="section-container section-container-isolated container">
        <div class="row">
          <div class="box box-fixed box-adapted">
            <div class="box-magnet class-box-magnet-center-left col-sm-4 section-left">
              <div class="section-container section-container-middle">
                <div class="header">
                  <h3 class="header-text">Follow all your lifestyle interests in one <span class="text-nowrap">place…</span></h3>
                </div>
              </div>
            </div>
            <div class="box-magnet box-magnet-top-left section-right mockup-frames col-sm-8">
              <div class="figure-container phone-container">
                <figure class="figure figure-adapted figure-caption-inside-bottom figure-full-width"><img  class="figure-img frame-phone" src="/images/mockups/frame-phone.png" width="162" height="301" alt="phone"/>
                  <div class="flex-slider flex-slider-phone" data-slider="phone">
                    <ul class="slides">
                      <li class="flex-slider-slide"><img src="/images/slides/phone-slide-1.png" width="135" height="212" alt="" /></li>
                      <li class="flex-slider-slide"><img src="/images/slides/phone-slide-2.png" width="135" height="212" alt="" /></li>
                      <li class="flex-slider-slide"><img src="/images/slides/phone-slide-3.png" width="135" height="212" alt="" /></li>
                      <li class="flex-slider-slide"><img src="/images/slides/phone-slide-4.png" width="135" height="212" alt="" /></li>
                      <li class="flex-slider-slide"><img src="/images/slides/phone-slide-5.png" width="135" height="212" alt="" /></li>
                    </ul>
                  </div>
                </figure>
              </div>
              <div class="figure-container tablet-container">
                <figure class="figure figure-adapted figure-caption-inside-bottom figure-full-width"><img class="figure-img frame-tablet" src="/images/mockups/frame-tablet.png" width="409" height="306" alt="tablet"/>
                  <div class="flex-slider flex-slider-tablet" data-slider="tablet">
                    <ul class="slides">
                      <li class="flex-slider-slide"><img src="/images/slides/tablet-slide-1.jpg" width="338" height="254" alt="" /></li>
                      <li class="flex-slider-slide"><img src="/images/slides/tablet-slide-2.jpg" width="338" height="254" alt="" /></li>
                      <li class="flex-slider-slide"><img src="/images/slides/tablet-slide-3.jpg" width="338" height="254" alt="" /></li>
                      <li class="flex-slider-slide"><img src="/images/slides/tablet-slide-4.jpg" width="338" height="254" alt="" /></li>
                      <li class="flex-slider-slide"><img src="/images/slides/tablet-slide-5.jpg" width="338" height="254" alt="" /></li>
                      <li class="flex-slider-slide"><img src="/images/slides/tablet-slide-6.jpg" width="338" height="254" alt="" /></li>
                    </ul>
                  </div>
                </figure>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <div class="section" id="section3">
    <section class="section section-relative" id="msg-box4-4">
      <div class="section-container section-container-isolated container">

        <div class="row">
          <div class="box box-fixed box-adapted">
            <div class="box-magnet box-magnet-top-left col-sm-6 section-left">
              <div class="section-container section-container-middle">
                <div class="header">
                  <h3 class="header-text"><span class="text-nowrap">…connecting</span> you with the best lifestyle writers, stylists, photographers, <span class="text-nowrap">media makers…</span></h3>
                </div>
              </div>
            </div>
            <div class="box-magnet box-magnet-top-left section-right col-sm-6">
              <div class="flex-slider flex-slider-quotes" data-slider="quotes">
                <ul class="slides">
                  <li class="flex-slider-slide">
                    <blockquote>
                      <p>ENLIVEN is what I've been needing for years!</p><small>Bill Gray, <cite title="Source Title">Freelance Journalist</cite></small></blockquote>
                  </li>
                  <li class="flex-slider-slide">
                    <blockquote>
                      <p>This is a true game changer for the gig economy.</p><small>Kylie Crawford<cite title="Source Title"></cite></small></blockquote>
                  </li>
                  <li class="flex-slider-slide">
                    <blockquote>
                      <p>Love it – can't wait for the first issue!</p><small>Sandra Myhrberg, <cite title="Source Title">Editor in Chief, Odalisque Magazine</cite></small></blockquote>
                  </li>
                  <li class="flex-slider-slide">
                    <blockquote>
                      <p>Fresh, new stories and inspiration – looks amazing!</p><small>Sophia Graves, <cite title="Source Title">Freelance Photographer</cite></small></blockquote>
                  </li>
                  <li class="flex-slider-slide">
                    <blockquote>
                      <p>ENLIVEN puts the power back in the hands of the people.</p><small>Pamela Wade, <cite title="Source Title">Publisher</cite></small></blockquote>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <div class="section" id="section4">
    <section class="section-container section-container-isolated container">
      <div class="row">
        <div class="col-md-5">
          <h4 class="lead">Your lifestyle destination, offering the world’s best lifestyle writers &amp; creatives</h4>
        </div>
        <div class="col-md-5">
          <h4 class="lead">Personalized &amp; curated lifestyle stories tailored to you</h4>
        </div>
        <div class="col-md-2">
          <h4 class="lead">It's free!</h4>
        </div>
      </div>
    </section>
  </div>

  <section class="section section section--relative section--fixed-size parallax-background" id="section5">
    <div class="section-container section-container--std-padding container">
      <div class="row">
        <div class="header header--center header--std-padding">
          <h1 class="text-coming-soon">Coming soon!</h1>
          <h3 class="text-sign-up">Sign up and stay <span class="text-nowrap">in the loop</span></h3>
        </div>
      </div>

      <div class="mc_embed_signup custom-mc_embed_signup_scroll">
        <!-- Begin MailChimp Signup Form -->
        <form action="//enliven.us13.list-manage.com/subscribe/post?u=26bdde73cd2b2aa42aceb57fe&amp;id=50bfc63b1c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate js-subscribe-form" novalidate>
          <fieldset class="form-inline form-horizontal mc-field-group">
            <div class="form-group form-group-email">
              <label class="sr-only" for="textinput">Email address</label>
              <input id="textinput" type="email" value="" placeholder="Your email goes here" name="EMAIL" class="form-control required email input-md" id="mce-EMAIL" />
            </div>
            <div class="form-group">
              <button id="singlebutton3" name="singlebutton" tabindex="0" name="subscribe" class="btn btn-primary">Notify Me</button>
            </div>
          </fieldset>
          <div class="mce-responses">
            <div class="response js-error-message" id="mce-error-response" style="display:none"></div>
            <div class="response js-success-message" id="mce-success-response" style="display:none"></div>
          </div>
          <div style="position: absolute; left: -5000px;" aria-hidden="true">
            <input type="text" name="b_26bdde73cd2b2aa42aceb57fe_50bfc63b1c" tabindex="-1" value="" />
          </div>
        </form>
        <!--End mc_embed_signup-->
      </div>
    </div>
  </section>
</div>
