<div class="hero about">
  <div class="container">

  </div>
</div>

<section class="bkg16">
  <div class="container">
    <h2 class="title">Join ENLIVEN!</h2>

    <p>
      Below you will find some of the contributors that we are currently looking for to join the ENLIVEN right now. If you’re interested in writing for ENLIVEN complete your application here.
    </p>
    <p>During early Fall 2017 ENLIVEN will only be considering submissions for the sections listed below:</p>
    <ul>
      <li><strong>Outdoor</strong> – Bicycling, Skiing, Endurance Sports, Adventure &amp; Outdoor, Gear, etc.</li>
      <li><strong>Health &amp; Fitness</strong> – Running, Cardio, Strenght, Yoga, Nutrition, Sports fashion, etc.</li>
      <li><strong>Travel</strong> – Travel features, Season &amp; holiday’s, Thematic travel, etc.</li>
    </ul>
    <h2 id="editors">Editors:</h2>
    <ul>
      <li>TBD</li>
    </ul>
    <h3 id="sub-editors">Sub-editors:</h3>
    <ul>
      <li>TBD</li>
    </ul>
    <h3 id="stylists">Stylists:</h3>
    <ul>
      <li>TBD</li>
    </ul>
    <h3 id="photographers">Photographers:</h3>
    <ul>
      <li>TBD</li>
    </ul>
    <h3 id="writers">Writers:</h3>
    <ul>
      <li>TBD</li>
    </ul>
  </div>
</section>
