<section class="teco">
  <div class="container">
  <h1 id="privacy-security">Privacy &amp; Security</h1>
  <h2 id="overview">Overview</h2>
  <p>The privacy of those who visit our web site is of primary concern to ENLIVEN and the below paragraphs constitutes ENLIVENS Privacy and Security policy.</p>
  <p>Information is obtained at the discretion of the individual. None of this information is shared with outside parties other than companies we employ to perform functions on our behalf, to which limited data is given as is necessary in order to maintain
    our relationship with you, such as to customize our communications with you, if you elect to receive communications.</p>
  <h2 id="visitorinformation">Visitor Information</h2>
  <p>Like many other internet companies, ENLIVEN automatically tracks the usage of our web site. We profile web site usage by tracking the ENLIVEN pages viewed, the browser used, and the computer’s address. This information is used to analyze trends, track
    use, and optimize site administration.</p>
  <h2 id="registrationinformation">Registration Information</h2>
  <p>In order to take advantage of our website and email communication services, a user must first complete the profile registration page. During registration, users are required to give their email address and create a password. This information is used to
    allow users to comment on stories.</p>
  <h2 id="cookies">Cookies</h2>
  <p>Cookies are small pieces of information sent from a web server to your computer. These allow us to personalize and customize your site experience without having to continually request the same basic information from you.</p>
  <p>If you have any questions about the security or privacy at our web site, you can email us at <a class="agrey" href="mailto:privacy@enliven.co">privacy@enliven.co</a>.
</div>
</section>
