<section class="teco">
  <div class="container">
    <h1 id="privacy-security">
      <span class="underline-red">Privacy &amp; Security</span>
    </h1>

    <div class="inner">
      <p>
        <span class="dropcap-red">T</span>he privacy of those who visit our web site is of primary concern to Enliven and below paragraphs constitute
        Enliven&rsquo;s Privacy and Security policy.</p>
      <p>&nbsp;</p>
      <h2>What information do we collect?</h2>
      <p> Like many other internet companies, Enliven automatically tracks the usage of our web site. Through cookies (small
        pieces of information sent from a web server to your computer) we profile web site usage by tracking the pages viewed
        by you on Enliven, the browser used, and the computer&rsquo;s address. This information is used to analyze trends,
        track use, and optimize site&nbsp;administration and helps us in our pursuit to provide a better service for you.</p>
      <p>In order to take advantage of our personalized web and email services, a user must first complete a profile registration.
        During registration, you will be asked to give your full name, gender, age, postal code and email. This information
        is used in order to better be able to provide you with a personalized experience and the articles most relevant top
        you.
      </p>
      <h2>Who will use this data?</h2>
      <p>All information is obtained at the discretion of you as an individual user. None of this data will be shared with any
        outside parties other than companies we directly employ to perform functions on our behalf. To these subcontractors
        limited data may be shared when necessary in order for them to provide their services to us.</p>
      <p>If you have any questions about the security or privacy at our web site, you can email us at&nbsp;
        <a href="mailto:privacy@enliven.co">privacy@enliven.co</a>.</p>
    </div>
  </div>
</section>