<div class="hero about">
  <div class="container">

  </div>
</div>

<section class="bkg16">
  <div class="container">
    <h2 class="title">Revenue Share Model</h2>

    <p>How the ENLIVEN model works in practice three separate questions:</p>
    
    <div class="list">
      <ol style="list-style-type: decimal">
        <li>How can we ensure that your creative work is enjoyed by our subscribers?</li>
        <li>How does the actual revenue share model work?</li>
        <li>How does the payment process work?</li>
      </ol>
    </div>

    <div class="guide">
      <div class="row">
        <div class="col-md-6 text-center">
          <img class="avatars" src="/images/heads.png" width="174" height="144" alt="avatars" />
        </div>
        <div class="col-md-6">
          <ul>
            <li>Targeting and optimization, with the objective to get your your articles in front the right crowd</li>
            <li>Using SEO and social media as key marketing channels – as a collective we are strong</li>
            <li>Helping you build your fan base of loyal followers</li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 text-center">
          <div class="row">
            <div class="col-md-4 guide-col-1">
              <p>
                ENLIVEN Monthly Revenue
              </p>
            </div>
            <div class="col-md-4 guide-col-2">
              <h3>𝐱</h3>
            </div>
            <div class="col-md-4 guide-col-3">
              <div>Your page views</div>
              <hr class="divider" />
              <div>Total page views</div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <ul>
            <li>We are taking a page or two from Spotify's book, but with the difference that there is no middle man (apart from ENLIVEN) between the creatives and the subscribers.</li>
            <li>Highly targeted native display ads based on topics, subscriber profiling and clustering, ensures more relevant ads and thus above average ad rates.</li>
            <li>Starting out as a free service we will when we have a stable product with enough great contributors launch a premium service that will enhance our revenues.</li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 text-center">
          <h2 style="font-size:64px">$</h2>
        </div>
        <div class="col-md-6">
          <ul>
            <li>Each month your share of the ENLIVEN total ad and subscription revenues are calculated</li>
            <li>Payment is handled trough our partner Coworks and deposited on your bank-account, the 25th of the following month. Minimum monthly deposit USD 25 (accrued until next month if minimum payment is not met)</li>
            <li>ENLIVEN is employing an independent auditor to ensure that the revenue share model is employed as intended.</li>
          </ul>

        </div>
      </div>
    </div><!--/.guide-->

  </div>
</section>
