<section class="teco">
  <div class="container">
  <h1 id="submission-guidelines">Submission Guidelines</h1>
  <p id="overview">The following guidelines outline how to submit articles to ENLIVEN. If you’re interested in writing for ENLIVEN complete your application here.</p>
  <h2 id="what-we-are-looking-for">What We Are Looking For</h2>
  <p>During early fall 2017 ENLIVEN will only be considering submissions for below sections that include (but are not limited to):</p>
  <ul>
    <li>Outdoor - Bicycling, Skiing, Endurance Sports, Adventure &amp; Outdoor, Gear,..</li>
    <li>Health &amp; Fitness - Running, Cardio, Strenght, Yoga, Nutrition, Sports fashion, ..</li>
    <li>Travel - Travel features, Season &amp; holiday’s, Thematic travel, ..</li>
  </ul>
  <p>If you have articles you want to submit that doesn’t fit above sections, don’t give up hope. Our plan is to during 2017 to expand expand the number of sections featured at ENLIVEN , so check back here and on our submissions guideline page regularly. Once
    we’ve worked our way through these first sections we’ll re-open for new sections. Please don’t ask us what sections we’ll be moving to—we’ll be deciding that closer to the time.</p>
  <p>We are most interested in pitches for articles, coulumns, Q&amp;A-style interviews, think pieces, list posts, reaction pieces, “look books” and reviews in the 500-2000 word range. Our target group is affluent Generation X and Millenials who want to wants
    to be inspired, engaged and activated within their favourite pastime or hobbies (i.e. areas of interests).</p>
  <p>Please note that ENLIVEN accepts all quality works, even though it may have been previously published elsewhere, in any venue. This includes also all forms of digital self-publishing. However note that all articles publihed on ENLIVEN will go through
    our editing/curation process to ensure that published material meets our highly set standards.</p>
  <h2 id="what-we-are-not-looking-for">What We Are Not Looking For</h2>
  <p>We do not encourage articles on spec, so please send us clear, thoroughly outlined pitches on specific topics that you would like to contribute within. If you are not already registered, please do so here.</p>
  <p>We do not accept works that are not identifiable as lifestyle or do not fit the current sections that we are covering. This includes, but is not limited to, current news journalism including business, politics and sports.</p>
  <p>We are not currently interested in blogs, video blogging, Kickstarter projects, or promotional/marketing materials. If you are a consumer brand with a project or editorial articles that you think our readers will appreciate, please contact our Sales team
    to discuss possible collaborations. Please contact us <a href="#">here</a>.</p>
  <h2 id="how-to-submit">How To Submit</h2>
  <p>Please submit your pitches or your finished articles through the form at http://submissions.enliven.se. Once you’ve registered there you can also use that portal to check the status of your submission.</p>
  <p>Our editors work full to part time, so we may not be able to respond to your pitch immediately, but if we are able to accommodate extra content and your proposed article sounds like a good fit, we will try to do so within a one week period. Unfortunately,
    we are not currently in a position to respond to every submission, but we always appreciate ypur effort and may follow up on individual pitches at a later date.</p>
  <p>A note on editing: We may request rewrites before publishing your post. We will not make significant edits or changes to an article’s content without permission, but please be aware that we may lightly edit your post for grammar, spelling, and general
    clarity, and/or change the title. We may also add in relevant links and images.</p>
  </div>
</section>
