<section class="teco">
  <div class="container">
  <h1 id="submission-guidelines">Submission Guidelines</h1>
  <p id="overview">The following guidelines outline how to submit articles to ENLIVEN. If you’re interested in writing for ENLIVEN complete your application here.</p>
  <h2 id="what-we-are-looking-for">What We Are Looking For</h2>
  <p>We are most interested in pitches for pieces in the 150 - 2000 word range in various formats, including articles, columns, Q&amp;A - style interviews, think pieces, list posts, reaction pieces, “look books” and reviews. Our target group is affluent Generation X and Millenials who want to
     be inspired, engaged and activated within their favourite pastime or hobbies (i.e. areas of interests).</p>
  <p>During our beta testing slated for fall 2017 ENLIVEN will be considering submissions for preliminary sections including (but not limited to):</p>
  <ul>
    <li>Outdoor - Bicycling, Skiing, Endurance Sports, Adventure &amp; Outdoor, Gear,..</li>
    <li>Health &amp; Fitness - Running, Cardio, Strength, Yoga, Nutrition, Sports fashion, ..</li>
    <li>Travel - Travel features, Season &amp; holiday’s, Thematic travel, ..</li>
  </ul>
  <p>You can look forward to many more sections as we expand in 2017!</p>
  <p>Please note that ENLIVEN accepts all quality works, even though it may have been previously published elsewhere, in any venue. This includes also all forms of digital self-publishing. However note that all articles published on ENLIVEN will go through
    our editing/curation process to ensure that published material meets our highly set standards.</p>
  <h2 id="what-we-are-not-looking-for">What We Are Not Looking For</h2>
  <p>We do not encourage articles on spec, so please send us clear, thoroughly outlined pitches on specific topics about which you are passionate and would like to contribute within. If you are not already registered, please do so <a href="/contributor-application-form">here</a>.</p>
  <p>We do not accept works that are not identifiable as lifestyle or do not fit the current sections that we are covering. This includes, but is not limited to, current news journalism including business, politics and sports. We also do not accept submissions that fall far outside our target length of 150 - 2000 words.</p>
  <p>We are not currently interested in blogs, video blogging, Kickstarter projects, or promotional/marketing materials. If you are a consumer brand with a project or editorial articles that you think our readers will appreciate, please contact our Sales team
    to discuss possible collaborations. Please contact us <a class="agrey" href="/contact">here</a>.</p>
  <h2 id="tips-for-successful-proposals">Tips For Successful Proposals</h2>
  <p>Tell us a bit about yourself, your topic, and your previous experience. The best proposals will also answer the following quesitons:</p>
  <ul>
    <li>What angle are you taking?</li>
    <li>What is your target audience?</li>
    <li>How will your piece inspire your audience?</li>
    <li>Why is this article relevant?</li>
    <li>Do you have the access required to create your piece?</li>
    <li>When do you expect to be able to complete your final submission?</li>
  </ul>
  <h2 id="how-to-submit">How To Submit</h2>
  <p>Please register to submit your pitches or your finished articles through <a href="//cms.enliven.co"> this form</a>. Once you’ve registered there you can also use that portal to check the status of your submission.</p>
  <p>Our editors work full to part time, so we may not be able to respond to your pitch immediately, but if we are able to accommodate extra content and your proposed article sounds like a good fit, we will try to do so within a one week period. Unfortunately,
    we are not currently in a position to respond to every submission, but we always appreciate your effort and may follow up on individual pitches at a later date.</p>
  <p>A note on editing: We may request rewrites before publishing your post. We will not make significant edits or changes to an article’s content without permission, but please be aware that we may lightly edit your post for grammar, spelling, and general
    clarity, and/or change the title. We may also add in relevant links and images.</p>
  </div>
</section>
