<section class="teco">
  <div class="container">
  <h1 id="terms-conditions">Terms &amp; Conditions</h1>
  <h2 id="introduction">Introduction</h2>
  <p>These Terms of Use (“Terms”) apply to your use of ENLIVENS’s websites, products and services. Please read these Terms carefully; by using ENLIVEN, you agree to be bound by them.</p>
  <h2 id="content">Content</h2>
  <p>What you see on ENLIVEN may be protected by one or more laws regarding intellectual property.</p>
  <h2 id="enliven-s-service-products-and-brand">ENLIVEN ’s Service, Products, and Brand</h2>
  <p>Our service and products are protected by copyright, trademark, patent and other laws. ENLIVEN gives you a personal, worldwide, non-assignable license to use the software we provide you for your own personal, non-commercial use. This license lets you
    use ENLIVEN solely as permitted by these Terms. Unauthorized use of any of ENLIVEN’s trademarks, logos, domain names or other distinctive brand features is prohibited.</p>
  <p>Service Use Guidelines You promise to use the service only for lawful purposes, and to not violate the rights of third parties. Our Community Guidelines, which are part of these Terms, contain more information about acceptable and unacceptable uses
    of the service. Any unacceptable use, including posting or collecting content that is obscene, pornographic, gory, illegal, threatening or harassing, excessively violent or promoting the harm of self or others, may result in immediate termination
    of your account and suspension of service access in the future.</p>
  <h2 id="your-content">Your Content</h2>
  <p>As a selected ENLIVEN contributor you can post your own content on ENLIVEN, including articles, photos, comments and other content.</p>
  <p>You—and you alone—own the rights to the content you create and publish through ENLIVEN. By posting it, you give us permission to use your content to do what we reasonably believe necessary to provide our service both now and in the future including
    storing, displaying, reproducing and distributing your content. This might also include promoting your content with partner companies or services for broader broadcast, distribution or publication via ENLIVEN.</p>
  <p>As an ENLIVEN contributor you’re responsible for the content you publish through ENLIVEN and assume all risk associated with it, including anyone else’s reliance on its accuracy or legal claims that might stem from publication. By posting content on
    ENLIVEN, you represent that you have the necessary rights to publish that material, and that doing so doesn’t conflict with any licenses you may have granted to others.</p>
  <p>We don’t pre-screen content from ENLIVEN contributors. However, we have the right to review and remove or disable access to any content through ENLIVEN for any reason. We assume no liability for anything that you or anyone else publishes through ENLIVEN.</p>
  <p>ENLIVEN also contains links to websites, services, content and advertisements that we don’t own or control. We don’t necessarily endorse or assume responsibility for that stuff, either.</p>
  <h2 id="copyrights">Copyrights</h2>
  <p>ENLIVEN complies with the Digital Millennium Copyright Act. We respond to takedown notices and have a policy of terminating repeat infringers when appropriate. For more information, see our Copyright Policy.</p>
  <h2 id="changes-to-our-services">Changes to Our Services</h2>
  <p>ENLIVEN is a dynamic product, always evolving and getting better. As a result, we may change, eliminate or restrict access to our products or any part of our service at any time, for any reason, with or without advance notice. And we may do so with
    respect to one, some or all of our users.</p>
  <h2 id="disclaimers">Disclaimers</h2>
  <p>ENLIVEN is provided “as is” without any warranties, express or implied. ENLIVEN disclaims all warranties and conditions of merchantability, fitness for a particular purpose and non-infringement.</p>
  <h2 id="limitation-of-liability">Limitation of Liability</h2>
  <p>To the fullest extent allowed by law, ENLIVEN shall not be liable for any indirect, incidental, special, consequential or punitive damages, or any loss of profits or revenues, whether incurred directly or indirectly, or any loss of data, use, goodwill
    or other intangible losses resulting from (A) your access to, use of, inability to access or inability to use ENLIVEN; (B) any third party conduct or content on ENLIVEN, including any defamatory, offensive or illegal conduct of third parties; or (C)
    any unauthorized access, use or alteration of your content.</p>
  <h2 id="arbitration">Arbitration</h2>
  <p>Any dispute, controversy or claim arising out of or in connection with this contract, or the breach, termination or invalidity thereof, shall be finally settled by arbitration administered by the Arbitration Institute of the Stockholm Chamber of Commerce
    (the “SCC”).</p>
  <p>The Rules for Expedited Arbitrations shall apply, unless the SCC in its discretion determines, taking into account the complexity of the case, the amount in dispute and other circumstances, that the Arbitration Rules shall apply. In the latter case,
    the SCC shall also decide whether the Arbitral Tribunal shall be composed of one or three arbitrators.</p>
  <h2 id="governing-law">Governing Law</h2>
  <p>These Terms will be governed by the laws of Sweden, except for its conflict of laws principles.<br> For claims that aren’t subject to arbitration, we each agree that any such claims shall be litigated exclusively in a court located
    in Stockholm, Sweden and you consent to personal jurisdiction in those courts.</p>
  <h2 id="entire-agreement">Entire Agreement</h2>
  <p>These Terms and our Privacy Policy constitute the entire agreement between you and Flipboard. If any provision of these Terms is found to be unenforceable, the remaining provisions will continue to be in full force and effect.</p>
  <h2 id="modification-of-terms-conditions">Modification of Terms &amp; Conditions</h2>
  <p>These Terms &amp; Conditions may be modified from time to time. The date of the most recent revisions will always be at https://enliven.co/terms, and older versions are available upon request. If we make changes that we believe will substantially alter
    your rights, we will notify you by posting a notice on our website. You agree to accept any changes or revisions to these Terms by continuing to use ENLIVEN.</p>
  <div class="contact1">
    <h2 id="contact">Contact</h2>
    <p>We welcome all questions, concerns and feedback you might have about these terms. If you have suggestions for us, let us know at <a class="agrey" href="mailto:support@enliven.co">support@enliven.co</a>.</p>
  </div>
</div>
</section>
