<section class="teco">
  <div class="container">
    <h1 id="terms-conditions">
      <span class="underline-red">Terms &amp; Conditions</span>
    </h1>

    <p>
      <span class="dropcap-red">W</span>e&rsquo;re happy to have you here, and hope you find Enliven easy to use and simply amazing. We rarely read
      the legal stuff on the sites we personally use, so we&rsquo;ll try to make this as painless and simple as we can.</p>
    <p>These Terms of Use (&ldquo;Terms&rdquo;) apply to your use of Enlivens websites, products and services, and by using
      Enliven you agree to be bound by them. We can change these Terms at any time, but if a change is material, we will
      of course let you know before they take effect. </p>
    <h2> Introduction</h2>
    <p>Enliven is basically a publishing platform connecting its users with some of the world&rsquo;s most talented creatives,
      experts and personal brands. With the help of Enliven they can create and deliver inspiring editorial articles and
      content directly to you as an Enliven user. </p>
    <h2>Terms for Enliven Users</h2>
    <p>Our service and products are protected by copyright, trademark, patent and other laws. Enliven gives you a personal,
      worldwide, non-assignable license to use the software we provide you, for your own personal non-commercial use. This
      license lets you use Enliven solely as permitted by these Terms. Unauthorized use of any of Enliven&rsquo;s trademarks,
      logos, domain names or other distinctive brand features is prohibited.</p>
    <p>You accept to use the service only for lawful purposes, and to not violate the rights of Enliven, our creatives, editors
      or any other third parties.</p>
    <p>Any unacceptable use, including posting content or commentary that is obscene, pornographic, gory, illegal, threatening
      or harassing, excessively violent or promoting the harm of self or others, may result in immediate termination of your
      account and suspension of service access in the future.</p>
    <p>Under our&nbsp;
      <a href="/dmca-policy">DMCA Policy</a>, we&rsquo;ll remove material after receiving a valid takedown notice. Under our&nbsp;
      <a href="/trademark-policy">Trademark Policy</a>, we&rsquo;ll investigate any use of another&rsquo;s trademark and respond appropriately.</p>
    <p>By using the Services, you agree to let Enliven collect and use information as detailed in our
      <a href="/privacy-security">Privacy &amp; Security policy</a>. If you live outside of Sweden, you consent to Enliven transfer, store, and process
      your information (including your personal information and content) in and out of the European Union. </p>

    <h2>Terms for Enliven Creatives &amp; Editors </h2>
    <p>As an Enliven creative you can by yourself, or in collaboration with other Enliven creatives and editors, publish articles
      or content elements on Enliven. All published articles or content elements are defined as, but not limited to: text,
      photos, videos, podcasts, comments and other content. To simplify further reading we hereinafter refer this to the
      somewhat sloppy and degrading term: content.</p>
    <p>You as a creative
      <u>own all the rights</u> to the content you publish on Enliven. By submitting your content to Enliven, you give us a
      <u>non-exclusive </u>license to publish it on all digital platforms associated with Enliven, including all activities
      that are reasonably related to publishing, including storing, reformatting, distributing and displaying this content.
      This might also include promoting your content in other languages or through other platforms &amp; services for broader
      broadcast and distribution.
      <u>We will never ever sell or share your content to any other parties</u>.</p>
    <p>In order for us to monetize your content you are granting Enliven the right to enable advertising, e-commerce and offer
      premium services (e.g. Paywall), when distributing and displaying your content to Enliven users.</p>
    <p>You—and you alone—are responsible for owning and controlling all rights associated to the content you publish on Enliven.
      By publishing content on Enliven, you guarantee that you have the necessary rights to publish that content, and that
      doing so doesn&rsquo;t conflict with any licenses or rights you may have granted other parties.
      <u>You are welcome to publish articles or content already published elsewhere</u>, as long as it doesn&rsquo;t conflict
      with any prior agreements and that the article is still deemed as relevant to our readers.</p>
    <p>When publishing through Enliven you assume all risk associated with it, including anyone else&rsquo;s reliance on its
      accuracy or legal claims that might stem from publishing the content on Enliven. Any unacceptable use, including publishing
      content that is obscene, pornographic, gory, illegal, threatening or harassing, excessively violent or promoting the
      harm of self or others, will most likely result in immediate termination of your account and suspension of service
      access.
    </p>
    <p>We assume the responsibility to pre-screen content published by Enliven&rsquo;s team of creatives and editors and have
      the right to review, remove or disable access to any articles on Enliven for any reason.</p>
    <p>
      <u>You can delete any or all of your articles, or your full account at anytime</u>. Processing the deletion may take a
      little time (typically 1-2 days), but we&rsquo;ll do it as quickly as possible. We keep backup copies of your deleted
      articles and account information for up to 31 days after you delete them.</p>


    <h2>Revenue share model</h2>
    <p>You focus on what you do best – being creative and to inspire people!</p>
    <p>Enlivens task is to ensure that:
      <br> 1) We attract as many users as possible, while converting them to premium users
      <br> 2) Get as many of these users to consume your content
      <br> 3) Ensure that each user is &ldquo;monetized&rdquo; by leveraging a combination of revenue drivers including, but
      not limited to, premium services (e.g. paywall), affiliate marketing, online advertising, e-commerce and collaborations
      with consumer brands.</p>
    <p>Enliven will, after the close of each calendar month, calculate and transfer your accrued revenue to your bank account.
      This sum will be based on the total number of page impressions that all your articles has had during the calendar month
      divided by the total page views for all articles displayed on the Enliven platform. </p>
    <p>Payments will be processed by electronic bank transfer within twenty-one (21) days of the end of the calendar month.
      In the event that your accrued compensation is below EUR 30 your compensation will be carried over to the following
      month(s) until such time as the total compensation reaches EUR 30 in aggregate.</p>
    <p>An independent auditing firm appointed by Enliven will ensure that all revenue is calculated and transferred according
      to the upon described revenue share model.</p>
    <h2>Copyrights</h2>
    <p>
      <u>When publishing content on Enliven, all creatives retain all copy rights and all other rights to their material.</u>
    </p>
    <p> Enliven fully complies with the WIPO Copyright Treaty. We respond to takedown notices and have a policy of terminating
      repeat infringers when appropriate. You can report alleged copyright infringement by emailing to:&nbsp;
      <a href="mailto:copyright@enliven.co">copyright@enliven.co</a>.</p>
    <p>Crawling the services is allowed if done in accordance with the provisions of our
      <u>robots.txt file</u>, but scraping the services is strictly prohibited. Any republishing of text, pictures, video, etc.
      without prior consent from the creators of the content published on Enliven is strictly prohibited. Legal action may
      be pursued by Enliven and it&rsquo;s Creatives if republished content isn&rsquo;t removed when requested.</p>
    <h2>Changes to Our Services</h2>
    <p>Enliven is a dynamic platform, always evolving and getting better. As a result, we may change, eliminate or restrict
      access to our service or any part of our service at any time, for any reason, with or without advance notice. And we
      may do so with respect to one, some or all of our users.</p>
    <h2>Disclaimers</h2>
    <p>Enliven is provided &ldquo;as is&rdquo; without any warranties, express or implied. Enliven disclaims all warranties&nbsp;and
      conditions of merchantability, fitness for a particular purpose and non-infringement.</p>
    <h2>Limitation of Liability</h2>
    <p>To the fullest extent allowed by law, Enliven shall not be liable for any indirect, incidental, special, consequential
      or punitive damages, or any loss of profits or revenues, whether incurred directly or indirectly, or any loss of data,
      use, goodwill or other intangible losses resulting from (A) your access to, use of, inability to access or inability
      to use Enliven; (B) any third party conduct or content on Enliven, including any defamatory, offensive or illegal conduct
      of third parties; or (C) any unauthorized access, use or alteration of your content.</p>
    <h2>Arbitration</h2>
    <p>Any dispute, controversy or claim arising out of or in connection with this contract, or the breach, termination or invalidity
      thereof, shall be finally settled by arbitration administered by the Arbitration Institute of the Stockholm Chamber
      of Commerce (the &ldquo;SCC&rdquo;).</p>
    <p>The Rules for Expedited Arbitrations shall apply, unless the SCC in its discretion determines, taking into account the
      complexity of the case, the amount in dispute and other circumstances, that the Arbitration Rules shall apply. In the
      latter case, the SCC shall also decide whether the Arbitral Tribunal shall be composed of one or three arbitrators.</p>
    <h2>Governing Law</h2>
    <p>These Terms will be governed by the laws of Sweden, except for its conflict of laws principles. For claims that aren&rsquo;t
      subject to arbitration, we each agree that any such claims shall be litigated exclusively in a court located in Stockholm,
      Sweden and you consent to personal jurisdiction in those courts.</p>
    <h2>Entire Agreement</h2>
    <p>These Terms and our Privacy &amp; Security Policy&nbsp;constitute the entire agreement between you and Enliven. If any
      provision of these Terms is found to be unenforceable, the remaining provisions will continue to be in full force and
      effect.
    </p>
    <h2>Contact</h2>
    <p>We welcome all questions, concerns and feedback you might have about these terms. If you have suggestions for us, let
      us know at&nbsp;
      <a href="mailto:support@enliven.co">support@enliven.co</a>.</p>

  </div>
</section>