<div class="hero work-with-us">
  <div class="container">

  </div>
</div>

<section class="bkg16">
  <div class="container">
    <h2 class="title">Work with Us!</h2>

    <p>
      We are looking to fill several positions with passionate, creative, talented individuals who share our dream of building ENLIVEN into the premier lifestyle platform. We currently need:
    </p>
    <h2>Front-end Developer</h2>
    <p>
      ENLIVEN is looking for a highly motivated and organized front-end web developer to join an exciting, early stage startup based in Stockholm, to develop a cutting-edge web-based platform and mobile application and to help create the future of publishing. <a href="https://www.hyperisland.com/jobs/front-end-developer-enliven" target="_blank">Apply now</a>!
    </p>
    <h2 id="">Growth Hacker</h2>
    <p>
      We are looking for a highly motivated and organized Growth Hacker to join an exciting startup developing a cutting-edge platform that we believe will be the future of lifestyle publishing. <a href="https://www.hyperisland.com/jobs/growth-hacker-enliven" target="_blank">Apply now</a>!
    </p>

  </div>
</section>
