<div class="hero work-with-us">
  <div class="container">

  </div>
</div>

<section class="bkg16">
  <div class="container">
    <h2 class="title">Work with Us!</h2>

    <p>We are looking to fill several positions with passionate, creative, talented individuals who share our dream of building ENLIVEN into the premier lifestyle platform. We currently need:</p>
    <p><a href="https://cms.enliven.co/content/job-opening-front-end-developer">Front-end Developer</a></p>
    <p><a href="https://cms.enliven.co/content/job-opening-growth-hacker">Growth Hacker</a></p>
<!--
* [Job opening: Front-end developer | Enliven]()
* [Job opening: Growth Hacker | Enliven]()
-->
  </div>
</section>
